<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" color="light">{{ 'REPORTMACHINERYRUUNINGHOUR.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="chartContainer8" style="margin: 10px">
    <form [formGroup]="macineriesForm">
      <div class="form-row">
        <div class="h7 text-white" style="text-align: center">
          <b>{{ 'REPORTMACHINERYRUUNINGHOUR.date' | translate}} </b>
        </div>
        <div class="col">
          <!-- <ion-datetime
            mode="ios"
            class="h7 form-control"
            formControlName="pickdate"
            display-format="DD-MM-YYYY"
          ></ion-datetime> -->

          <input
            type="text"
            class="h7 form-control readonly"
            formControlName="pickdate"
            placeholder="DD-MM-YYYY"
            (click)="openDateTimePicker()"
            readonly
          />
        </div>
        <div>
          <button
            type="button"
            class="h7 btn btn-general btn-sm margin-5px float-right"
            (click)="getreport()"
          >
            <!-- <ion-icon name="filter"></ion-icon> -->
            {{ 'GENERALBUTTON.getrecords' | translate}}
          </button>
        </div>
      </div>
    </form>

    <div *ngIf="!norecordsflag">
      <table
        style="width: 100%; height: 100%"
        class="table table-bordered"
        *ngFor="let value of generalArr"
      >
        <tr>
          <th colspan="1" scope="colgroup" style="padding: 4px !important">
            <span class="mdfont" style="color: white">{{ 'REPORTMACHINERYRUUNINGHOUR.millstartdate' | translate}}</span>
          </th>

          <td style="background-color: green; color: white">
            {{value.start_date}}
          </td>

          <th
            colspan="1"
            scope="colgroup"
            style="padding: 4px !important"
            *ngIf="value.stop_date!=''"
          >
            <span class="mdfont" style="color: white">{{ 'REPORTMACHINERYRUUNINGHOUR.millstopdate' | translate}}</span>
          </th>

          <td
            style="background-color: red; color: white"
            *ngIf="value.stop_date!=''"
          >
            {{value.stop_date}}
          </td>
        </tr>
        <tr>
          <th colspan="1" scope="colgroup" style="padding: 4px !important">
            <span class="mdfont" style="color: white">{{ 'REPORTMACHINERYRUUNINGHOUR.millstarttime' | translate}}</span>
          </th>

          <td style="background-color: green; color: white">
            {{value.start_time}}
          </td>

          <th
            colspan="1"
            scope="colgroup"
            style="padding: 4px !important"
            *ngIf="value.stop_time!=''"
          >
            <span class="mdfont" style="color: black">{{ 'REPORTMACHINERYRUUNINGHOUR.millstoptime' | translate}}</span>
          </th>

          <td
            style="background-color: red; color: white"
            *ngIf="value.stop_time!=''"
          >
            {{value.stop_time}}
          </td>
        </tr>
      </table>

      <table
        style="width: 100%; height: 100%; margin-top: 10px"
        class="table table-bordered"
        *ngFor="let general of stationsArr"
      >
        <tr class="table_head">
          <th colspan="1" scope="colgroup" style="padding: 4px !important">
            <span class="mdfont">{{general.stationname}}</span>
          </th>
          <th colspan="1" scope="colgroup" style="padding: 4px !important">
            <span class="mdfont">{{ 'REPORTMACHINERYRUUNINGHOUR.runninghours' | translate}} </span>
          </th>
          <th colspan="1" scope="colgroup" style="padding: 4px !important">
            <span class="mdfont">{{ 'REPORTMACHINERYRUUNINGHOUR.totalrunninghours' | translate}} </span>
          </th>
        </tr>

        <ng-container *ngFor="let value of general.machines">
          <tr>
            <td scope="row" style="overflow: auto; width: 40%">
              {{value.machinename}}
            </td>
            <td scope="row" style="overflow: auto; width: 20%">
              {{value.runninghours}}
            </td>
            <td scope="row" style="overflow: auto; width: 20%">
              {{value.todaterunninghours}}
            </td>
          </tr>
        </ng-container>
      </table>
    </div>

    <div class="norecords" *ngIf="norecordsflag">{{ 'NORECORDSFOUND.norecordsfound' | translate}}</div>
  </div>
</ion-content>
