<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" color="light"
      >{{ 'OILLOSSESSREPORT.oillosses' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="oillossesForm">
    <div class="form-row" style="margin-top: 10px">
      <div class="col">
        <div class="h7 text-white">
          <b>{{ 'OILLOSSESSREPORT.date' | translate}} <sup>*</sup></b>
        </div>
      </div>

      <div class="col">
        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_date"
          placeholder="DD-MM-YYYY"
          (click)="openDatePicker('LED')"
          readonly
        />
      </div>
    </div>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-white">
          <b
            >{{ 'OILLOSSESSREPORT.samplecollectiontime' | translate}}
            <sup>*</sup></b
          >
        </div>
      </div>

      <div class="col">
        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_time"
          placeholder="HH:mm"
          (click)="openTimePicker('LET')"
          readonly
        />
      </div>
    </div>

    <div formArrayName="pressRows" *ngIf="showFlag">
      <div
        class="form-row"
        style="margin-top: 20px"
        *ngFor="let itemrow of oillossesForm.get('pressRows').controls; let i=index"
      >
        <div class="col">
          <div class="h7 text-white">
            <b>{{pressArr[i]}}</b>
          </div>
        </div>

        <div class="col">
          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'OILLOSSESSREPORT.enter' | translate}}"
            (keypress)="decimalFilter($event)"
            [formControlName]="i"
          />
        </div>
      </div>
    </div>

    <div class="show" *ngIf="!showFlag">
      {{ 'OILLOSSESSREPORT.nopressmachinefound' | translate}}
    </div>

    <div style="text-align: center" *ngIf="showFlag">
      <button
        type="submit"
        [disabled]="isDisabled"
        class="h6 btn btn-save"
        (click)="showalert()"
        style="margin-top: 10px; margin-bottom: 10px"
      >
        {{ 'GENERALBUTTON.savebutton' | translate}}
      </button>
    </div>
  </form>
</ion-content>
