<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Prediction Analysis</ion-title>
    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe [src]="weburl | safe"  style="width:100%;height:100%;border:none;" scrolling="yes"></iframe> -->
  <form [formGroup]="dashboardForecastingForm">
    <div class="form-row" style="margin: 10px">
      <div class="col">
        <ion-datetime
          mode="ios"
          class="h7 form-control"
          formControlName="predictionanalysisdate"
          display-format="DD-MM-YYYY"
        ></ion-datetime>
      </div>
      <div>
        <button
          type="button"
          class="h7 btn btn-general btn-sm margin-5px float-right"
          (click)="getPredictionAnalysis()"
        >
          <!-- <ion-icon name="filter"></ion-icon> -->
          Get Records
        </button>
      </div>
    </div>

    <div *ngFor="let general of predictionanalysisArr">
      <!-- <div class="h6 accuracytext" style="text-align: right; margin-right: 10px;">
        <b>{{general.ftdaccuracy}}</b>
      </div> -->
      <!-- <div class="averagebox">
        <div>
          <ion-icon class="icon" name="checkmark"></ion-icon>
          <span class="icontext"> Overall Prediction Accuracy: 84.8%</span>
        </div>
          
        <div>
          <ion-icon class="icon" name="checkmark"></ion-icon>
          <span class="icontext"> Overall Average LPC Oil Loss: 20%</span>
        </div>

        <div>
          <ion-icon class="icon" name="checkmark"></ion-icon>
          <span class="icontext"> Overall Average MyPalm Oil Loss Prediction: 10%</span>
        </div>
      </div> -->

      <ion-row style="margin: 0px 10px 10px 0px">
        <ion-col size="6"></ion-col>
        <ion-col size="6" class="averagebox">
          <div>
            <ion-icon class="icon" name="checkmark"></ion-icon>
            <span class="icontext"> {{general.overall_pa}}</span>
          </div>

          <div>
            <ion-icon class="icon" name="checkmark"></ion-icon>
            <span class="icontext"> {{general.overall_avg_lpcoilloss}}</span>
          </div>

          <div>
            <ion-icon class="icon" name="checkmark"></ion-icon>
            <span class="icontext"> {{general.overall_avg_mypalmoilloss}}</span>
          </div>
        </ion-col>
      </ion-row>

      <div class="h7 titletext disclaimer1">
        <b>{{general.disclaimer1}}</b>
      </div>

      <div class="tbl_startstoptime">
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">Mill Start Date</span>
            </th>

            <td class="accuracytext"><b>{{general.millstart_date}}</b></td>

            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngIf="general.millstop_date!=''"
            >
              <span class="mdfont">Mill Stop Date</span>
            </th>

            <td *ngIf="general.millstop_date!=''" class="accuracytext">
              <b>{{general.millstop_date}}</b>
            </td>
            <!-- <td style="background-color: red; color: white;" *ngIf="general.millstop_date==''"></td> -->
          </tr>

          <tr>
            <th colspan="1" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">Mill Start Time</span>
            </th>

            <td class="accuracytext"><b>{{general.millstart_time}}</b></td>

            <th
              colspan="1"
              scope="colgroup"
              style="padding: 4px !important"
              *ngIf="general.millstop_time!=''"
            >
              <span class="mdfont">Mill Stop Time</span>
            </th>

            <td *ngIf="general.millstop_time!=''" class="accuracytext">
              <b>{{general.millstop_time}}</b>
            </td>
            <!-- <td style="background-color: red; color: white;" *ngIf="general.millstop_time==''"></td>  -->
          </tr>
        </table>
      </div>

      <div *ngIf="general.pressno1.length>0">
        <div class="form-row">
          <div class="col">
            <div class="userfont titletext"><b>Press No.1</b></div>
          </div>
        </div>

        <ion-row>
          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p1_avg_lpcoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p1_avg_lpcoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p1_avg_mypalmoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p1_avg_mypalmoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox" style="margin-right: 10px">
            <div style="text-align: center">
              <span>{{general.pressno1accuracy_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.pressno1accuracy_value}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <div class="box">
          <apx-chart
            [series]="pressno1Options.series"
            [chart]="pressno1Options.chart"
            [yaxis]="pressno1Options.yaxis"
            [xaxis]="pressno1Options.xaxis"
            [stroke]="pressno1Options.stroke"
            [markers]="pressno1Options.markers"
            [fill]="pressno1Options.fill"
            [tooltip]="pressno1Options.tooltip"
            [title]="pressno1Options.title"
          ></apx-chart>
        </div>

        <ion-row *ngFor="let value of pressno1predictiondataArr">
          <ion-card
            class="card card-height bottompad-10px"
            no-margin
            [style.background-color]="getBackGroundColor(value.flag)"
          >
            <ion-row>
              <ion-col class="imagecenter" size="2">
                <img
                  src="../../assets/img/alert.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'alert'"
                />
                <img
                  src="../../assets/img/palmoiltree.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'oilloss'"
                />
                <img
                  src="../../assets/img/action.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'action'"
                />
              </ion-col>

              <ion-col size="10">
                <span class="titlemdfont">{{value.title}}</span>

                <div *ngFor="let subvalue of value.subtitle; let i=index">
                  <ion-row *ngIf="subvalue.label != 'No Data Found'">
                    <!-- <ion-col size="5.5">
                      <span class="usertext" *ngIf="value.image == 'oilloss'">
                        <strong class="h7 common-whitecolor">{{i+1}}. {{subvalue.label}}</strong>
                      </span>
                        
                      <span class="usertext" *ngIf="value.image != 'oilloss'">
                        <strong class="h7 common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col> -->

                    <!-- Commented on 22.04.2022s 
                    <ion-col *ngIf="subvalue.label != '' && subvalue.value == ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>

                    <ion-col size="5.5" *ngIf="subvalue.label != '' && subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>
                    
                    <ion-col size="1" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">:</strong>
                      </span> 
                    </ion-col> 

                    <ion-col size="5.5" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.value}}</strong>
                      </span>
                    </ion-col>  -->

                    <ion-col *ngIf="subvalue.label != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor"
                          >{{subvalue.label}}</strong
                        >
                      </span>
                    </ion-col>
                  </ion-row>

                  <ion-row
                    *ngIf="subvalue.label == 'No Data Found'"
                    style="width: 100%; text-align: center"
                  >
                    <ion-col>
                      <strong class="mdfont common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </ion-col>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>

        <div class="h7 titletext disclaimer2">
          <b>{{general.disclaimer2}}</b>
        </div>

        <hr />
      </div>

      <div *ngIf="general.pressno2.length>0">
        <div class="form-row">
          <div class="col">
            <div class="userfont titletext"><b>Press No.2</b></div>
          </div>
        </div>

        <!-- <div class="h6 accuracytext" style="text-align: right; margin-right: 10px;">
          <b>{{general.pressno2accuracy}}</b>
        </div> -->

        <ion-row>
          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p2_avg_lpcoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p2_avg_lpcoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p2_avg_mypalmoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p2_avg_mypalmoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox" style="margin-right: 10px">
            <div style="text-align: center">
              <span>{{general.pressno2accuracy_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.pressno2accuracy_value}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <div class="box">
          <apx-chart
            [series]="pressno2Options.series"
            [chart]="pressno2Options.chart"
            [yaxis]="pressno2Options.yaxis"
            [xaxis]="pressno2Options.xaxis"
            [labels]="pressno2Options.labels"
            [stroke]="pressno2Options.stroke"
            [markers]="pressno2Options.markers"
            [fill]="pressno2Options.fill"
            [tooltip]="pressno2Options.tooltip"
            [title]="pressno2Options.title"
          ></apx-chart>
        </div>

        <ion-row *ngFor="let value of pressno2predictiondataArr">
          <ion-card
            class="card card-height bottompad-10px"
            no-margin
            [style.background-color]="getBackGroundColor(value.flag)"
          >
            <ion-row>
              <ion-col class="imagecenter" size="2">
                <img
                  src="../../assets/img/alert.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'alert'"
                />
                <img
                  src="../../assets/img/palmoiltree.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'oilloss'"
                />
                <img
                  src="../../assets/img/action.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'action'"
                />
              </ion-col>

              <ion-col size="10">
                <span class="titlemdfont">{{value.title}}</span>

                <div *ngFor="let subvalue of value.subtitle; let i=index">
                  <ion-row *ngIf="subvalue.label != 'No Data Found'">
                    <!-- <ion-col size="5.5">
                      <span class="usertext" *ngIf="value.image == 'oilloss'">
                        <strong class="mdfont common-whitecolor">{{i+1}}. {{subvalue.label}}</strong>
                      </span>
                        
                      <span class="usertext" *ngIf="value.image != 'oilloss'">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col> -->

                    <!-- <ion-col *ngIf="subvalue.label != '' && subvalue.value == ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>

                    <ion-col size="5.5" *ngIf="subvalue.label != '' && subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>
                    
                    <ion-col size="1" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">:</strong>
                      </span> 
                    </ion-col> 

                    <ion-col size="5.5" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.value}}</strong>
                      </span>
                    </ion-col>  -->

                    <ion-col *ngIf="subvalue.label != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor"
                          >{{subvalue.label}}</strong
                        >
                      </span>
                    </ion-col>
                  </ion-row>

                  <ion-row
                    *ngIf="subvalue.label == 'No Data Found'"
                    style="width: 100%; text-align: center"
                  >
                    <ion-col>
                      <strong class="mdfont common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </ion-col>
                  </ion-row>
                </div>

                <!-- <ion-row *ngIf="value.image == 'oilloss'">
                  <ion-col size="5.5">
                    <span class="h7 common-whitecolor">
                      <strong>Predicted Oil Loss</strong>
                    </span>        
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span> 
                  </ion-col> 

                  <ion-col size="5.5">
                    <strong class="h7 common-whitecolor">{{value.predictedoilloss}}</strong>                  
                  </ion-col>
                </ion-row> -->
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>

        <div class="h7 titletext disclaimer2">
          <b>{{general.disclaimer2}}</b>
        </div>

        <hr />
      </div>

      <div *ngIf="general.pressno3.length>0">
        <div class="form-row">
          <div class="col">
            <div class="userfont titletext"><b>Press No.3</b></div>
          </div>
        </div>

        <!-- <div class="h6 accuracytext" style="text-align: right; margin-right: 10px;">
          <b>{{general.pressno3accuracy}}</b>
        </div> -->

        <ion-row>
          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p3_avg_lpcoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p3_avg_lpcoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p3_avg_mypalmoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p3_avg_mypalmoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox" style="margin-right: 10px">
            <div style="text-align: center">
              <span>{{general.pressno3accuracy_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.pressno3accuracy_value}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <div class="box">
          <apx-chart
            [series]="pressno3Options.series"
            [chart]="pressno3Options.chart"
            [yaxis]="pressno3Options.yaxis"
            [xaxis]="pressno3Options.xaxis"
            [labels]="pressno3Options.labels"
            [stroke]="pressno3Options.stroke"
            [markers]="pressno3Options.markers"
            [fill]="pressno3Options.fill"
            [tooltip]="pressno3Options.tooltip"
            [title]="pressno3Options.title"
          ></apx-chart>
        </div>

        <ion-row *ngFor="let value of pressno3predictiondataArr">
          <ion-card
            class="card card-height bottompad-10px"
            no-margin
            [style.background-color]="getBackGroundColor(value.flag)"
          >
            <ion-row>
              <ion-col class="imagecenter" size="2">
                <img
                  src="../../assets/img/alert.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'alert'"
                />
                <img
                  src="../../assets/img/palmoiltree.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'oilloss'"
                />
                <img
                  src="../../assets/img/action.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'action'"
                />
              </ion-col>

              <ion-col size="10">
                <span class="titlemdfont">{{value.title}}</span>

                <div *ngFor="let subvalue of value.subtitle; let i=index">
                  <ion-row *ngIf="subvalue.label != 'No Data Found'">
                    <!-- <ion-col size="5.5">
                      <span class="usertext" *ngIf="value.image == 'oilloss'">
                        <strong class="h7 common-whitecolor">{{i+1}}. {{subvalue.label}}</strong>
                      </span>
                        
                      <span class="usertext" *ngIf="value.image != 'oilloss'">
                        <strong class="h7 common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col> -->

                    <!-- <ion-col *ngIf="subvalue.label != '' && subvalue.value == ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>

                    <ion-col size="5.5" *ngIf="subvalue.label != '' && subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>
                    
                    <ion-col size="1" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="h7 common-whitecolor">:</strong>
                      </span> 
                    </ion-col> 

                    <ion-col size="5.5" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="h7 common-whitecolor">{{subvalue.value}}</strong>
                      </span>
                    </ion-col>  -->

                    <ion-col *ngIf="subvalue.label != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor"
                          >{{subvalue.label}}</strong
                        >
                      </span>
                    </ion-col>
                  </ion-row>

                  <ion-row
                    *ngIf="subvalue.label == 'No Data Found'"
                    style="width: 100%; text-align: center"
                  >
                    <ion-col>
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </ion-col>
                  </ion-row>
                </div>

                <!-- <ion-row *ngIf="value.image == 'oilloss'">
                  <ion-col size="5.5">
                    <span class="h7 common-whitecolor">
                      <strong>Predicted Oil Loss</strong>
                    </span>        
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span> 
                  </ion-col> 

                  <ion-col size="5.5">
                    <strong class="h7 common-whitecolor">{{value.predictedoilloss}}</strong>                  
                  </ion-col>
                </ion-row> -->
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>

        <div class="h7 titletext disclaimer2">
          <b>{{general.disclaimer2}}</b>
        </div>

        <hr />
      </div>

      <div *ngIf="general.pressno4.length>0">
        <div class="form-row">
          <div class="col">
            <div class="userfont titletext"><b>Press No.4</b></div>
          </div>
        </div>

        <!-- <div class="h6 accuracytext" style="text-align: right; margin-right: 10px;">
          <b>{{general.pressno4accuracy}}</b>
        </div> -->

        <ion-row>
          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p4_avg_lpcoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p4_avg_lpcoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p4_avg_mypalmoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p4_avg_mypalmoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox" style="margin-right: 10px">
            <div style="text-align: center">
              <span>{{general.pressno4accuracy_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.pressno4accuracy_value}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <div class="box">
          <apx-chart
            [series]="pressno4Options.series"
            [chart]="pressno4Options.chart"
            [yaxis]="pressno4Options.yaxis"
            [xaxis]="pressno4Options.xaxis"
            [labels]="pressno4Options.labels"
            [stroke]="pressno4Options.stroke"
            [markers]="pressno4Options.markers"
            [fill]="pressno4Options.fill"
            [tooltip]="pressno4Options.tooltip"
            [title]="pressno4Options.title"
          ></apx-chart>
        </div>

        <ion-row *ngFor="let value of pressno4predictiondataArr">
          <ion-card
            class="card card-height bottompad-10px"
            no-margin
            [style.background-color]="getBackGroundColor(value.flag)"
          >
            <ion-row>
              <ion-col class="imagecenter" size="2">
                <img
                  src="../../assets/img/alert.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'alert'"
                />
                <img
                  src="../../assets/img/palmoiltree.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'oilloss'"
                />
                <img
                  src="../../assets/img/action.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'action'"
                />
              </ion-col>

              <ion-col size="10">
                <span class="titlemdfont">{{value.title}}</span>

                <div *ngFor="let subvalue of value.subtitle; let i=index">
                  <ion-row *ngIf="subvalue.label != 'No Data Found'">
                    <!-- <ion-col size="5.5">
                      <span class="usertext" *ngIf="value.image == 'oilloss'">
                        <strong class="h7 common-whitecolor">{{i+1}}. {{subvalue.label}}</strong>
                      </span>
                        
                      <span class="usertext" *ngIf="value.image != 'oilloss'">
                        <strong class="h7 common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col> -->

                    <!-- <ion-col *ngIf="subvalue.label != '' && subvalue.value == ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>

                    <ion-col size="5.5" *ngIf="subvalue.label != '' && subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>
                    
                    <ion-col size="1" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="h7 common-whitecolor">:</strong>
                      </span> 
                    </ion-col> 

                    <ion-col size="5.5" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="h7 common-whitecolor">{{subvalue.value}}</strong>
                      </span>
                    </ion-col>  -->

                    <ion-col *ngIf="subvalue.label != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor"
                          >{{subvalue.label}}</strong
                        >
                      </span>
                    </ion-col>
                  </ion-row>

                  <ion-row
                    *ngIf="subvalue.label == 'No Data Found'"
                    style="width: 100%; text-align: center"
                  >
                    <ion-col>
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </ion-col>
                  </ion-row>
                </div>

                <!-- <ion-row *ngIf="value.image == 'oilloss'">
                  <ion-col size="5.5">
                    <span class="h7 common-whitecolor">
                      <strong>Predicted Oil Loss</strong>
                    </span>        
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span> 
                  </ion-col> 

                  <ion-col size="5.5">
                    <strong class="h7 common-whitecolor">{{value.predictedoilloss}}</strong>                  
                  </ion-col>
                </ion-row> -->
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>

        <div class="h7 titletext disclaimer2">
          <b>{{general.disclaimer2}}</b>
        </div>

        <hr />
      </div>

      <div *ngIf="general.pressno5.length>0">
        <div class="form-row">
          <div class="col">
            <div class="userfont titletext"><b>Press No.5</b></div>
          </div>
        </div>

        <!-- <div class="h6 accuracytext" style="text-align: right; margin-right: 10px;">
          <b>{{general.pressno5accuracy}}</b>
        </div> -->

        <ion-row>
          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p5_avg_lpcoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p5_avg_lpcoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox">
            <div style="text-align: center">
              <span>{{general.p5_avg_mypalmoilloss_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.p5_avg_mypalmoilloss_value}}</span
              >
            </div>
          </ion-col>

          <ion-col class="averagepressbox" style="margin-right: 10px">
            <div style="text-align: center">
              <span>{{general.pressno5accuracy_label}}</span>
            </div>
            <div style="text-align: center">
              <span style="font-weight: bold"
                >{{general.pressno5accuracy_value}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <div class="box">
          <apx-chart
            [series]="pressno5Options.series"
            [chart]="pressno5Options.chart"
            [yaxis]="pressno5Options.yaxis"
            [xaxis]="pressno5Options.xaxis"
            [labels]="pressno5Options.labels"
            [stroke]="pressno5Options.stroke"
            [markers]="pressno5Options.markers"
            [fill]="pressno5Options.fill"
            [tooltip]="pressno5Options.tooltip"
            [title]="pressno5Options.title"
          ></apx-chart>
        </div>

        <ion-row *ngFor="let value of pressno5predictiondataArr">
          <ion-card
            class="card card-height bottompad-10px"
            no-margin
            [style.background-color]="getBackGroundColor(value.flag)"
          >
            <ion-row>
              <ion-col class="imagecenter" size="2">
                <img
                  src="../../assets/img/alert.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'alert'"
                />
                <img
                  src="../../assets/img/palmoiltree.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'oilloss'"
                />
                <img
                  src="../../assets/img/action.png"
                  alt="PROFILE"
                  style="width: 40px; height: 40px"
                  *ngIf="value.image == 'action'"
                />
              </ion-col>

              <ion-col size="10">
                <span class="titlemdfont">{{value.title}}</span>

                <div *ngFor="let subvalue of value.subtitle; let i=index">
                  <ion-row *ngIf="subvalue.label != 'No Data Found'">
                    <!-- <ion-col size="5.5">
                      <span class="usertext" *ngIf="value.image == 'oilloss'">
                        <strong class="h7 common-whitecolor">{{i+1}}. {{subvalue.label}}</strong>
                      </span>
                        
                      <span class="usertext" *ngIf="value.image != 'oilloss'">
                        <strong class="h7 common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col> -->

                    <!-- <ion-col *ngIf="subvalue.label != '' && subvalue.value == ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>

                    <ion-col size="5.5" *ngIf="subvalue.label != '' && subvalue.value != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor">{{subvalue.label}}</strong>
                      </span>
                    </ion-col>
                    
                    <ion-col size="1" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="h7 common-whitecolor">:</strong>
                      </span> 
                    </ion-col> 

                    <ion-col size="5.5" *ngIf="subvalue.value != ''">
                      <span class="usertext">
                        <strong class="h7 common-whitecolor">{{subvalue.value}}</strong>
                      </span>
                    </ion-col>  -->

                    <ion-col *ngIf="subvalue.label != ''">
                      <span class="usertext">
                        <strong class="mdfont common-whitecolor"
                          >{{subvalue.label}}</strong
                        >
                      </span>
                    </ion-col>
                  </ion-row>

                  <ion-row
                    *ngIf="subvalue.label == 'No Data Found'"
                    style="width: 100%; text-align: center"
                  >
                    <ion-col>
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </ion-col>
                  </ion-row>
                </div>

                <!-- <ion-row *ngIf="value.image == 'oilloss'">
                  <ion-col size="5.5">
                    <span class="h7 common-whitecolor">
                      <strong>Predicted Oil Loss</strong>
                    </span>        
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span> 
                  </ion-col> 

                  <ion-col size="5.5">
                    <strong class="h7 common-whitecolor">{{value.predictedoilloss}}</strong>                  
                  </ion-col>
                </ion-row> -->
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>

        <div class="h7 titletext disclaimer2">
          <b>{{general.disclaimer2}}</b>
        </div>

        <hr />
      </div>
    </div>

    <div class="norecords" *ngIf="enableflag==true">No Records Found</div>
  </form>
</ion-content>
