.home-box {
  padding: 5px 5px 5px 5px;
  margin-top: 0px;
}

ion-segment-button {
  min-height: 60px;
  height: 60px;
  width: 50px;
  margin-top: 2px;
  --indicator-box-shadow: none;
  border-radius: 0px !important;
  --background: linear-gradient(315deg, #d9d9d9 0%, #e9e9e9 74%);
  --color: #000000;
  --background-checked: linear-gradient(180deg, #1d2730 0%, #1d2730 74%);
  --color-checked: white;
  --indicator-color: transparent !important; /* this solution */
  --border-color: none;
  font-size: 5px;
}

.pvbadge {
  background-color: #ffffb3;
  padding: 5px;
  margin: 5px;
  color: #000000;
  border-radius: 20px;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  opacity: 0.9;
  animation: blink 1s linear infinite;
}

.rpvbadge {
  background-color: #ff4d4d;
  padding: 5px;
  margin: 5px;
  color: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  opacity: 0.9;
  animation: blink 1s linear infinite;
}

.badgecount {
  background-color: red;
  padding: 5px;
  margin: 5px;
  color: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: -0.2rem;
  right: -1rem;
  opacity: 0.9;
}

.badgeblink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.img-home {
  margin: 0px 28px 0px 28px;
  padding: 15px 30px 0px 30px;
}

.card-height {
  height: 80%;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.txt-home {
  text-align: center;
  margin-top: 10px;
  font-size: 9px;
}

.pvcard {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid #1d2730;*/

  border: 1px solid #ffffff71;
  background-color: #ffffff;
  //background-color: #ffffff10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0px 0px 5px 5px;
}

.pvcard-header {
  padding: 5px;
  background-color: #3cd2a5;
}

.rpvcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  border: 1px solid #ff4d4d;
}

.rpvcard-header {
  padding: 5px;
  background-color: #ff4d4d;
}

div.item {
  text-align: center;
  padding: 0px 0px 0px 0px;
}
img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item-img {
  margin: 10px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.lbl-head {
  padding-left: 10px;
  padding-top: 10px;
}
.lbl-desc {
  padding-left: 5px;
  padding-top: 5px;
}

.bg-yellow {
  background-color: #000000;
  padding: 10px;
}

.bg-yellow {
  background-color: #000000;
  padding: 10px;
}
.card-height {
  height: 40px;
  width: 100%;
  margin: 5px;
}

.bg-light-color {
  --color: var(--ion-color-white);
}

.lbl-head {
  padding-left: 10px;
  padding-top: 10px;
}
.lbl-desc {
  padding-left: 5px;
  padding-bottom: 0px;
}
.lbl-direction-right {
  width: 100%;
  text-align: right;
  padding: 5px;
}

.row-width-100 {
  width: 100%;
  margin: 10px;
  text-align: right;
}

.card-body {
  padding: 0.6rem;
}

p {
  font-size: 14px;
}

.row-reverse {
  flex-direction: row-reverse !important;
  //float: right;
}

.margin-bottom {
  margin-bottom: 10px;
}

.h7 {
  font-size: 12px;
}

.colalign {
  text-align: center;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.card-content {
  padding: 0px 16px;
  max-height: 0px;
}

.icon {
  vertical-align: middle;
}

.icontext {
  vertical-align: middle;
  font-size: 12px;
}

.btn-general {
  background-color: none;
  border-color: #ff9f0c;
  color: #ffffff;
}

.btn-assign {
  //background-color: #ff6060;
  background-color: none;
  border-color: #ff6060;
}

.btn-view {
  //background-color: #a8b6bc;
  background-color: none;
  border-color: #ff9f0c;
}

.btn-update {
  //background-color: #ff9f0c;
  background-color: none;
  border-color: #ff9f0c;
}

hr {
  margin-top: 50px;
  display: block;
  height: 1px;
  border-top: 1px solid #c2c2c2;
}

.norecords {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}

.pleasewait {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #e30414;
}
