<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" color="light">{{ 'OILLOSSESSREPORT.oillosselist' | translate}}</ion-title>
  </ion-toolbar>

  <ion-toolbar class="bg-search-color">
    <ion-searchbar
      placeholder="{{ 'OILLOSSESSREPORT.searchrecords' | translate}}"
      [(ngModel)]="filterTerm"
      animated="true"
      clearIcon="close"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="oillossesForm">
    <ion-row style="margin-top: 10px">
      <ion-col size="1.6" style="align-self: center" no-padding>
        <div class="h7 text-white"><b>{{ 'OILLOSSESSREPORT.fromdate' | translate}}</b></div>
      </ion-col>

      <ion-col size="3.45" no-padding>
        <!-- <div class="h7 text-white"><b>From</b></div> -->

        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_fromdate"
          placeholder="DD-MM-YYYY"
          (click)="openDateTimePicker('FD')"
          readonly
        />
      </ion-col>

      <ion-col size="1" style="align-self: center" no-padding>
        <div class="h7 text-white"><b>{{ 'OILLOSSESSREPORT.todate' | translate}}</b></div>
      </ion-col>

      <ion-col size="3.45" no-padding>
        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_todate"
          placeholder="DD-MM-YYYY"
          (click)="openDateTimePicker('TD')"
          readonly
        />
      </ion-col>

      <ion-col size="2.5" no-padding>
        <button
          type="button"
          class="h7 btn btn-general btn-sm"
          style="height: 31px; width: 100%"
          (click)="getOilLosses()"
        >
        {{ 'GENERALBUTTON.getrecords' | translate}}
        </button>
      </ion-col>
    </ion-row>

    <hr />
  </form>

  <ion-row class="row-reverse">
    <button
      type="button"
      class="h7 btn btn-new btn-sm margin-5px"
      (click)="btn_OilLossesNew()"
    >
      <!-- <ion-icon class="icon" name="cog"></ion-icon> -->
      <span class="icontext">{{ 'OILLOSSESSREPORT.newoillosses' | translate}}</span>
    </button>
  </ion-row>
  <div class="home-box">
    <div
      class="card gedf-card margin-bottom"
      *ngFor="let general of oillosseslistArr | filter:filterTerm"
    >
      <div class="card-header">
        <div class="form-row">
          <div class="col">
            <div class="h7 text-dark" style="float: left">
              {{ 'OILLOSSESSREPORT.date' | translate}}: <b>{{general.date}}</b>
            </div>
          </div>

          <div class="col">
            <div class="h7 text-dark" style="float: right">
              {{ 'OILLOSSESSREPORT.time' | translate}}: <b>{{general.time}}</b>
            </div>
          </div>
        </div>
      </div>

      <ion-grid style="margin: 0px; padding: 0px">
        <ion-row>
          <ion-col size="6" *ngFor="let presses of general.pressdata">
            <div class="h7 text-dark">
              <b>{{presses.name}} :</b> {{presses.value}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-row class="row-reverse">
        <button
          type="button"
          class="h7 btn btn-update btn-sm margin-5px"
          (click)="btn_OilLossesEdit(general)"
        >
          <ion-icon class="icon" name="create-outline"></ion-icon>
          <span class="icontext"> {{ 'GENERALBUTTON.updatebutton' | translate}}</span>
        </button>

        <!-- <button
          type="button"
          class="h7 btn btn-outline-danger btn-sm margin-5px"
          (click)="btn_OilLossesDelete(value)"
        >
          <ion-icon class="icon" name="trash-outline"></ion-icon>
          <span class="icontext">Delete</span>
        </button> -->
      </ion-row>
    </div>

    <div class="norecords" *ngIf="enableflag==true">{{ 'NORECORDSFOUND.norecordsfound' | translate}}</div>

    <div class="pleasewait" *ngIf="pleasewaitflag">
      <div style="width: 100%; text-align: center">
        <img
          style="width: 80px; height: 80px"
          src="../../../assets/img/loading.gif"
        />
      </div>
      {{ 'NORECORDSFOUND.loading' | translate}}
    </div>
  </div>
</ion-content>
