<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'STERILIZERSTATIONLOGSHEET.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 10px">
    <ion-row class="form-row">
      <ion-col size="2">
        <img class="sdimage" src="../../../assets/img/reportlogo.png" />
      </ion-col>
      <ion-col size="8">
        <p class="title">{{userlist.address1}}</p>
        <p class="subtitle">
          {{userlist.address2}}<br />{{userlist.address3}}<br />{{userlist.address4}}
        </p>
      </ion-col>
      <ion-col size="2">
        <!-- <img class="reportimage" src="../../../assets/img/reportlogo.png" /> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="title" style="text-align: center">
          <b>{{ 'STERILIZERSTATIONLOGSHEET.recordfor' | translate}} {{showDate}}</b>
        </div>
      </ion-col>
    </ion-row>

    <div style="overflow-x: auto" *ngIf="norecordsflag==false">
      <div *ngFor="let general of logsheetArr">
        <!-- Mill Date and Time -->
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <!-- <tr class="tr_amber">
            <th colspan="1" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">Date</span>
            </th>

            <th colspan="1" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">Mill Start Time</span>
            </th>
            
            <th colspan="1" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">Mill Stop Time</span>
            </th>
          </tr>
          <tr>
            <td>{{general.millstart_date}}</td>

            <td style="background-color: green; color: white;">{{general.millstart_time}}</td>            
            
            <td style="background-color: red; color: white;" *ngIf="general.millstop_time!=''">{{general.millstop_time}}</td>   

            <td style="background-color: red; color: white;" *ngIf="general.millstop_time==''">-</td>
          </tr> -->

          <tr>
            <th colspan="1" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.millstartdate' | translate}}</span>
            </th>

            <td style="background-color: green; color: white">
              {{general.millstart_date}}
            </td>

            <th colspan="1" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.millstopdate' | translate}}</span>
            </th>

            <td
              style="background-color: red; color: white"
              *ngIf="general.millstop_date!=''"
            >
              {{general.millstop_date}}
            </td>
            <td
              style="background-color: red; color: white"
              *ngIf="general.millstop_date==''"
            >
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
          </tr>

          <tr>
            <th colspan="1" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.millstarttime' | translate}}</span>
            </th>

            <td style="background-color: green; color: white">
              {{general.millstart_time}}
            </td>

            <th colspan="1" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.millstoptime' | translate}}</span>
            </th>

            <td
              style="background-color: red; color: white"
              *ngIf="general.millstop_time!=''"
            >
              {{general.millstop_time}}
            </td>
            <td
              style="background-color: red; color: white"
              *ngIf="general.millstop_time==''"
            >
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
          </tr>
        </table>

        <!-- Sterilizer 1 -->
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr *ngFor="let value of general.sterilizer1; let i = index">
            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.sterilizer' | translate}} {{value.title}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle1}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle2}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle3}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle4}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle5}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle6}}</span>
            </th>

            <td
              scope="row"
              style="
                overflow: auto;
                text-align: left;
                background-color: #fff0c2;
              "
              *ngIf="i != 0"
              width="16%"
            >
              {{value.title}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle1}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle2}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle3}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle4}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle5}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle6}}
            </td>
          </tr>
        </table>

        <!-- Sterilizer 2 -->
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr *ngFor="let value of general.sterilizer2; let i = index">
            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.sterilizer' | translate}} {{value.title}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle1}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle2}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle3}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle4}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle5}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle6}}</span>
            </th>

            <td
              scope="row"
              style="
                overflow: auto;
                text-align: left;
                background-color: #fff0c2;
              "
              *ngIf="i != 0"
              width="16%"
            >
              {{value.title}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle1}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle2}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle3}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle4}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle5}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle6}}
            </td>
          </tr>
        </table>

        <!-- Sterilizer 3 -->
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr *ngFor="let value of general.sterilizer3; let i = index">
            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.sterilizer' | translate}} {{value.title}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle1}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle2}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle3}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle4}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle5}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle6}}</span>
            </th>

            <td
              scope="row"
              style="
                overflow: auto;
                text-align: left;
                background-color: #fff0c2;
              "
              *ngIf="i != 0"
              width="16%"
            >
              {{value.title}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle1}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle2}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle3}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle4}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle5}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle6}}
            </td>
          </tr>
        </table>

        <!-- Sterilizer 4 -->
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr *ngFor="let value of general.sterilizer4; let i = index">
            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.sterilizer' | translate}} {{value.title}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle1}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle2}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle3}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle4}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle5}}</span>
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
              *ngIf="i == 0"
            >
              <span class="mdfont">{{value.cycle6}}</span>
            </th>

            <td
              scope="row"
              style="
                overflow: auto;
                text-align: left;
                background-color: #fff0c2;
              "
              *ngIf="i != 0"
              width="16%"
            >
              {{value.title}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle1}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle2}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle3}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle4}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle5}}
            </td>
            <td scope="row" style="overflow: auto" *ngIf="i != 0" width="14%">
              {{value.cycle6}}
            </td>
          </tr>
        </table>

        <!-- Remarks -->
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr>
            <th
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: #474747;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.verifiedby' | translate}}</span>
            </th>

            <th
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: #474747;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.remark' | translate}}</span>
            </th>

            <th
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: #474747;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.checkedby' | translate}}</span>
            </th>

            <th
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: #474747;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'STERILIZERSTATIONLOGSHEET.remark' | translate}}</span>
            </th>
          </tr>

          <tr *ngFor="let value of general.remarks">
            <td scope="row" style="overflow: auto">
              <b>{{value.verifiedby}}</b>
            </td>
            <td scope="row" style="overflow: auto">{{value.verifiedremark}}</td>
            <td scope="row" style="overflow: auto">
              <b>{{value.checkedby}}</b>
            </td>
            <td scope="row" style="overflow: auto">
              {{value.checkedbyremark}}
            </td>
          </tr>
        </table>
      </div>

      <ion-row style="margin-top: 10px" *ngIf="departmentid==4">
        <ion-col style="text-align: center !important">
          <button
            type="submit"
            class="btn btn-success"
            (click)="remarksalert()"
          >
          {{ 'PRESSSTATIONLOGSHEET.verifyreport' | translate}} 
          </button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row style="margin-top: 10px" *ngIf="departmentid==7 && status!=0">
      <ion-col style="text-align: center !important">
        <button type="submit" class="btn btn-success" (click)="remarksalert()">
          {{ 'PRESSSTATIONLOGSHEET.checkreport' | translate}} 
        </button>
      </ion-col>
    </ion-row>

    <div class="norecords" *ngIf="norecordsflag">{{ 'NORECORDSFOUND.norecordsfound' | translate}}</div>
  </div>
</ion-content>
