.home-box {
  padding: 0px 5px 5px 5px;
  margin-top: 0px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff;
}

.img-home {
  margin: 0px 28px 0px 28px;
  padding: 15px 30px 0px 30px;
}

.card-height {
  height: 80%;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.txt-home {
  text-align: center;
  margin-top: 10px;
  font-size: 9px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
.bg-light-color {
  --color: var(--ion-color-lightorange);
}

div.item {
  text-align: center;
  padding: 0px 0px 0px 0px;
}
img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item-img {
  margin: 10px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.lbl-head {
  padding-left: 10px;
  padding-top: 10px;
}
.lbl-desc {
  padding-left: 5px;
  padding-top: 5px;
}

.bg-yellow {
  background-color: #000000;
  padding: 10px;
}

.bg-yellow {
  background-color: #000000;
  padding: 10px;
}
.card-height {
  height: 40px;
  width: 100%;
  margin: 5px;
}

.bg-light-color {
  --color: var(--ion-color-light-contrast);
}

.lbl-head {
  padding-left: 10px;
  padding-top: 10px;
}
.lbl-desc {
  padding-left: 5px;
  padding-bottom: 0px;
}
.lbl-direction-right {
  width: 100%;
  text-align: right;
  padding: 5px;
}

.row-width-100 {
  width: 100%;
  margin: 10px;
  text-align: right;
}

.card-header {
  padding: 5px;
}
.card-body {
  padding: 0.6rem;
}

p {
  font-size: 14px;
}

.row-reverse {
  flex-direction: row-reverse !important;
  //float: right;
}

.btn-color {
  background-color: red;
  border-color: red;
}

.btn-yellow-color {
  background-color: green;
  border-color: green;
}

.btn-general {
  background-color: none;
  border-color: #ff9f0c;
  color: #ffffff;
}

.margin-bottom {
  margin-bottom: 10px;
}

.h7 {
  font-size: 12px;
}

.colalign {
  text-align: center;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.card-content {
  padding: 0px 16px;
  max-height: 0px;
}

.btn-outline-primary {
  width: 109px;
  font-size: 12px;
}

.icon {
  vertical-align: middle;
}

.icontext {
  vertical-align: middle;
  font-size: 12px;
}

hr {
  margin-top: 50px;
  display: block;
  height: 1px;
  border-top: 1px solid #c2c2c2;
}

.norecords {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}
