.form-row {
  align-items: center;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  color: #000000;
  border-color: #000000;
}

.bg-light-color {
  --color: var(--ion-color-lightorange);
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.bg-aqua {
  background-color: #00c0ef;
  padding: 10px;
}

.bg-yellow {
  background-color: #000000;
  padding: 10px;
}

.bg-red {
  background-color: #dd4b39;
  padding: 10px;
}

.bg-green {
  background-color: #00a65a;
  padding: 10px;
}

.para {
  font-size: 15px;
  text-align: center;
}

.cardheader {
  color: brown;
  font-weight: bold;
  margin: 0;
  font-size: 12px;
}
.cardheader_blue {
  color: blue;
  font-weight: bold;
}

.card-height {
  height: 80%;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

table {
  font-size: 11px;
  line-height: 1.42857143;
  color: #333;
  padding: 5px;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 0.3rem !important;
}

b {
  font-size: 13px;
}

.table_head {
  background-color: #fac57a;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.table_head1 {
  background-color: #000000;
  color: #000000;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

td {
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

th {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.table th {
  padding: 0rem !important;
}

.tr_amber {
  background-color: #ffbf00;
}

.mdfont {
  font-size: 11px;
}

.nopressstationrecords {
  align-items: center;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.norecords {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.sdimage {
  width: 81px;
  height: 77px;
}

.reportimage {
  width: 81px;
  height: 77px;
}

.btn-general {
  background-color: none;
  border-color: #ff9f0c;
  color: #ffffff;
}

.title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.subtitle {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #c2c2c2;
}
