<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Corrective Maintenance Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop>
  <form [formGroup]="preventivemaintenanceForm">
    <div class="form-row">
      <div class="col">
        <div class="text-dark" style="text-align: center; font-size: 16px">
          <b>PART 1: REPORTING (NOTIFICATION)</b>
        </div>
      </div>
    </div>

    <ion-row
      style="padding-left: 5px; margin-top: 10px"
      *ngIf="malfunctionstarttime!=''"
    >
      <ion-col size="5.5">
        <div class="h7 text-dark">
          <b>Malfunction Start Date & Time <sup>*</sup></b>
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="h7 text-dark">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="h7 text-dark">{{malfunctionstarttime}}</div>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 5px; margin-top: 10px" *ngIf="stationid!=''">
      <ion-col size="5.5">
        <div class="h7 text-dark">
          <b>Station <sup>*</sup></b>
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="h7 text-dark">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="h7 text-dark">{{stationname}}</div>
      </ion-col>
    </ion-row>

    <ion-row
      style="padding-left: 5px; margin-top: 10px"
      *ngIf="equipmentid!=''"
    >
      <ion-col size="5.5">
        <div class="h7 text-dark">
          <b>Equipment <sup>*</sup></b>
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="h7 text-dark">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="h7 text-dark">{{equipmentname}}</div>
      </ion-col>
    </ion-row>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-dark">
          <b>Problem <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row" *ngIf="problem!=''">
      <div class="col">
        <textarea
          class="h7 form-control"
          placeholder="Enter Problem"
          rows="4"
          disabled="true"
          autosize
        >
{{problem}}</textarea
        >
      </div>
    </div>

    <ion-row
      style="padding-left: 5px; margin-top: 10px"
      *ngIf="notificationtypeid!='' && notificationtypeid!='0'"
    >
      <ion-col size="5.5">
        <div class="h7 text-dark">
          <b>Notification Type <sup>*</sup></b>
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="h7 text-dark">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="h7 text-dark">{{notificationtypename}}</div>
      </ion-col>
    </ion-row>

    <ion-row
      style="padding-left: 5px; margin-top: 10px"
      *ngIf="breakdowncodingid!='' && breakdowncodingid!='0'"
    >
      <ion-col size="5.5">
        <div class="h7 text-dark">
          <b>Breakdown Coding <sup>*</sup></b>
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="h7 text-dark">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="h7 text-dark">{{breakdowncodingname}}</div>
      </ion-col>
    </ion-row>

    <ion-row
      style="padding-left: 5px; margin-top: 10px"
      *ngIf="maintanencetypeid!='' && maintanencetypeid!='0'"
    >
      <ion-col size="5.5">
        <div class="h7 text-dark">
          <b>Maintenance Type <sup>*</sup></b>
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="h7 text-dark">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="h7 text-dark">{{maintanencetypename}}</div>
      </ion-col>
    </ion-row>

    <ion-row
      style="padding-left: 5px; margin-top: 20px"
      *ngIf="partdefectid!='' && partdefectid!='0'"
    >
      <ion-col size="5.5">
        <div class="h7 text-dark">
          <b>Part Defect <sup>*</sup></b>
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="h7 text-dark">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="h7 text-dark">{{partdefectname}}</div>
      </ion-col>
    </ion-row>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-dark">
          <b>Damages <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row" *ngIf="damageid!=''">
      <div class="col">
        <!-- <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_damagename"
          placeholder="Damages"
          readonly
        /> -->

        <textarea
          class="h7 form-control"
          placeholder="Damages"
          rows="3"
          autosize
          disabled="true"
        >
{{damagename}}</textarea
        >
      </div>
    </div>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-dark">
          <b>Breakdown Causes <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row" *ngIf="breakdowncauseid!=''">
      <div class="col">
        <!-- <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_breakdowncausename"
          placeholder="Breakdown Causes"
          readonly
        /> -->

        <textarea
          class="h7 form-control"
          placeholder="Breakdown Causes"
          rows="3"
          autosize
          disabled="true"
        >
{{breakdowncausename}}</textarea
        >
      </div>
    </div>

    <hr />

    <div class="form-row" style="text-align: center; font-size: 16px">
      <div class="col">
        <div class="text-dark">
          <b>PART 2: REPAIR ACTIVITY (WORK ORDER)</b>
        </div>
      </div>
    </div>

    <ion-row
      style="padding-left: 5px; margin-top: 10px"
      *ngIf="malfunctionstoptime!=''"
    >
      <ion-col size="5.5">
        <div class="h7 text-dark">
          <b>Malfunction End Date & Time <sup>*</sup></b>
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="h7 text-dark">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="h7 text-dark">{{malfunctionstoptime}}</div>
      </ion-col>
    </ion-row>

    <div>
      <ion-row>
        <div
          class="card gedf-card margin-bottom"
          *ngFor="let value of existingactivityArr"
          style="width: 100%; margin: 10px"
        >
          <div class="card-header" style="text-align: center">
            <div class="h7 text-dark">
              <b>Activity : {{value.activity}}</b>
            </div>
          </div>

          <div style="margin: 10px 5px 10px 5px">
            <div class="h7 text-dark">
              Operation / Activity : {{value.operation}}
            </div>
          </div>
        </div>
      </ion-row>
    </div>

    <div *ngIf="existingactivityArr.length > 0">
      <ion-row
        style="padding-left: 5px; margin-top: 10px"
        *ngIf="carryoutby!=''"
      >
        <ion-col size="5.5">
          <div class="h7 text-dark">
            <b>Carried Out By<sup>*</sup></b>
          </div>
        </ion-col>

        <ion-col size="0.5" style="text-align: right">
          <div class="h7 text-dark">
            <b>:</b>
          </div>
        </ion-col>
        <ion-col size="6" style="text-align: left">
          <div class="h7 text-dark">{{carryoutby}}</div>
        </ion-col>
      </ion-row>

      <div *ngIf="materialissuanceflag">
        <hr />

        <div class="form-row" style="text-align: center; font-size: 16px">
          <div class="col">
            <div class="text-dark"><b>PART 3: MATERIAL ISSUANCE</b></div>
          </div>
        </div>

        <div class="form-row" style="margin-top: 20px">
          <div class="col">
            <div class="h7 text-dark">
              <b>Material <sup>*</sup></b>
            </div>
          </div>
        </div>

        <div>
          <ion-row>
            <div
              class="card gedf-card margin-bottom"
              *ngFor="let value of existingmaterialArr"
              style="width: 100%; margin: 10px"
            >
              <div class="card-header" style="text-align: center">
                <div class="h7 text-dark">
                  <b>Material : {{value.partsName}} </b>
                  <ion-checkbox
                    style="vertical-align: middle; float: right"
                    value="option"
                    (click)="onChange(value.id)"
                    name="option"
                  ></ion-checkbox>
                </div>
              </div>

              <div style="margin: 10px 5px 10px 5px">
                <div class="h7 text-dark">
                  Quantity : {{value.quantity}} {{value.unit}}
                </div>
              </div>
            </div>
          </ion-row>
        </div>

        <hr />
      </div>

      <div class="form-row" style="margin-top: 20px">
        <div class="col">
          <div class="h7 text-dark">
            <b>Assigned To<sup>*</sup></b>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <ion-select
            formControlName="select_assignedto"
            class="h7 text-dark form-control"
            placeholder="Select Assigned To"
            multiple="true"
            value="Select Assigned To"
            ok-text="Okay"
            cancel-text="Dismiss"
          >
            <ion-select-option
              value="{{value.userId}}"
              *ngFor="let value of assignedtoArr; let i = index"
              >{{ value.name }}</ion-select-option
            >
          </ion-select>
        </div>
      </div>

      <div style="text-align: center; margin-top: 20px">
        <button type="submit" class="h6 btn btn-success" (click)="showalert()">
          Save
        </button>
      </div>
    </div>
  </form>
</ion-content>
