<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mill Performance 2</ion-title>
    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="millperformancedashboard2Form">
      <div style="margin: 10px">
        <div class="form-row">
          <div class="h7 text-white" style="text-align: center">
            <b>Year</b>
          </div>
          <div class="col">
            <ion-datetime
              mode="ios"
              class="h7 form-control"
              formControlName="millperformanceyear"
              placeholder="MM-YYYY"
              display-format="YYYY"
            ></ion-datetime>
          </div>
          <div>
            <button
              type="button"
              class="h7 btn btn-general btn-sm margin-5px float-right"
              (click)="getMonthlyMillPerformanceDetails()"
            >
              <!-- <ion-icon name="filter"></ion-icon> -->
              Get Records
            </button>
          </div>
        </div>

        <div style="text-align: center">
          <div class="col">
            <div class="userfont usertext">
              <b>Monthly Mill Performance for {{currentyear}}</b>
            </div>
          </div>
        </div>

        <div style="overflow-x: auto">
          <table style="width: 100%; height: 100%" class="table table-bordered">
            <tr class="table_head">
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Month</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">FFB Processed</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Running Hours</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Breakdown Hours</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Breakdown %</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Slowdown Hours</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Slowdown % (P,M,E)</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Slowdown HRS (M,E)</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Slowdown % (M,E)</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Slowdown HRS (P)</span>
              </th>
              <th colspan="4" style="padding: 4px !important">
                <span class="mdfont">Mill Slowdown % (P)</span>
              </th>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlymillperformanceArr"
            >
              <td colspan="4">
                <span class="mdfont">{{value.month}}</span>
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.ffbprocessed | number: "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millrunninghours | number: "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millbreakdownhours | number: "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millbreakdownhourspercentage | number:
                  "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millslowdownhours | number: "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millslowdownhourspmepercentage | number:
                  "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millslowdownhrsme | number: "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millslowdownhrsmepercentage | number: "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millslowdownprocess | number: "1.2-2"}}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{value.millslowdownhrsprocesspercentage | number:
                  "1.2-2"}}</span
                >
              </td>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlymillperformancetotalArr"
            >
              <td colspan="4">
                <span class="mdfont">G.T</span>
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.ffbprocessed_total | number: "1.2-2" }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millrunninghours_total | number: "1.2-2" }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millbreakdownhours_total | number: "1.2-2" }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millbreakdownhourspercentage_total | number: "1.2-2"
                  }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millslowdownhours_total | number: "1.2-2" }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millslowdownhourspmepercentage_total | number:
                  "1.2-2" }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millslowdownhrsme_total | number: "1.2-2" }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millslowdownhrsmepercentage_total | number: "1.2-2"
                  }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millslowdownprocess_total | number: "1.2-2" }}</span
                >
              </td>

              <td colspan="4">
                <span class="mdfont"
                  >{{ value.millslowdownhrsprocesspercentage_total | number:
                  "1.2-2" }}</span
                >
              </td>
            </tr>
          </table>
        </div>

        <hr />

        <!-- <div class="form-row">
          <div class="h7 text-dark" style="text-align: center;">
            <b>Month & Year</b>
          </div>
          <div class="col">
            <ion-datetime  mode="ios" class="h7 form-control" formControlName="breakdownmonthyear" placeholder="MM-YYYY" display-format="MM-YYYY"></ion-datetime>
          </div>
          <div>
            <button type="button" class="h7 btn btn-outline-info btn-sm margin-5px float-right" (click)="getMonthlyMillPerformanceDetails()"><ion-icon name="filter"></ion-icon>
              Get Records
            </button>
          </div>
        </div> -->

        <div style="text-align: center">
          <div class="col">
            <div class="userfont usertext">
              <b>Breakdown for {{currentyear}}</b>
            </div>
          </div>
        </div>

        <div style="text-align: center">
          <div class="col">
            <div class="h7 usertext"><b>Monthly Breakdown Hours</b></div>
          </div>
        </div>

        <div style="overflow-x: auto">
          <table style="width: 100%; height: 100%" class="table table-bordered">
            <tr class="table_head">
              <th style="padding: 4px !important">
                <span class="mdfont">Month</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Mill Breakdown Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Processing Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Mill Breakdown %</span>
              </th>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlybreakdownhoursArr"
            >
              <td>
                <span class="mdfont">{{value.month}}</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millbreakdownhours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.processinghours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millbreakdownhourspercentage | number:
                  "1.2-2"}}</span
                >
              </td>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlybreakdownhourstotalArr"
            >
              <td>
                <span class="mdfont">G.T</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownhours_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.processinghours_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownhourspmepercentage_total | number:
                  "1.2-2" }}</span
                >
              </td>
            </tr>
          </table>
        </div>

        <div class="box">
          <apx-chart
            [series]="monthlybreakdownhoursOption.series"
            [chart]="monthlybreakdownhoursOption.chart"
            [xaxis]="monthlybreakdownhoursOption.xaxis"
            [markers]="monthlybreakdownhoursOption.markers"
            [stroke]="monthlybreakdownhoursOption.stroke"
            [yaxis]="monthlybreakdownhoursOption.yaxis"
            [dataLabels]="monthlybreakdownhoursOption.dataLabels"
            [fill]="monthlybreakdownhoursOption.fill"
            [tooltip]="monthlybreakdownhoursOption.tooltip"
            [legend]="monthlybreakdownhoursOption.legend"
          ></apx-chart>
        </div>

        <hr />

        <div style="text-align: center">
          <div class="col">
            <div class="h7 usertext">
              <b>Breakdown Hours by Station {{currentyear}}</b>
            </div>
          </div>
        </div>

        <div style="overflow-x: auto">
          <table style="width: 100%; height: 100%" class="table table-bordered">
            <tr class="table_head">
              <th style="padding: 4px !important">
                <span class="mdfont">Month</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Mill Breakdown Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Processing Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Mill Breakdown %</span>
              </th>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlybreakdownhoursbystationArr"
            >
              <td>
                <span class="mdfont">{{value.station}}</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millbreakdownhours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.processinghours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millbreakdownhourspercentage | number:
                  "1.2-2"}}</span
                >
              </td>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlybreakdownhoursbystationtotalArr"
            >
              <td>
                <span class="mdfont">G.T</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownprocess_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.processinghours_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownhrsprocesspercentage_total | number:
                  "1.2-2" }}</span
                >
              </td>
            </tr>
          </table>
        </div>

        <div class="box">
          <apx-chart
            [series]="breakdownhoursbystationOption.series"
            [chart]="breakdownhoursbystationOption.chart"
            [xaxis]="breakdownhoursbystationOption.xaxis"
            [markers]="breakdownhoursbystationOption.markers"
            [stroke]="breakdownhoursbystationOption.stroke"
            [yaxis]="breakdownhoursbystationOption.yaxis"
            [dataLabels]="breakdownhoursbystationOption.dataLabels"
            [fill]="breakdownhoursbystationOption.fill"
            [tooltip]="breakdownhoursbystationOption.tooltip"
            [legend]="breakdownhoursbystationOption.legend"
          ></apx-chart>
        </div>

        <hr />

        <!-- <div class="form-row">
          <div class="h7 text-dark" style="text-align: center;">
            <b>Month & Year</b>
          </div>
          <div class="col">
            <ion-datetime  mode="ios" class="h7 form-control" formControlName="slowdownmonthyear" placeholder="MM-YYYY" display-format="MM-YYYY"></ion-datetime>
          </div>
          <div>
            <button type="button" class="h7 btn btn-outline-info btn-sm margin-5px float-right" (click)="getMonthlyMillPerformanceDetails()"><ion-icon name="filter"></ion-icon>
              Get Records
            </button>
          </div>
        </div> -->

        <div style="text-align: center">
          <div class="col">
            <div class="userfont usertext">
              <b>Slowdown for {{currentyear}}</b>
            </div>
          </div>
        </div>

        <div style="text-align: center">
          <div class="col">
            <div class="h7 usertext"><b>Monthly Slowdown Hours</b></div>
          </div>
        </div>

        <div style="overflow-x: auto">
          <table style="width: 100%; height: 100%" class="table table-bordered">
            <tr class="table_head">
              <th style="padding: 4px !important">
                <span class="mdfont">Month</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Slowdown Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Processing Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Slowdown %</span>
              </th>
            </tr>

            <tr class="table_row" *ngFor="let value of monthlyslowdownhoursArr">
              <td>
                <span class="mdfont">{{value.month}}</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millslowdownhours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.processinghours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millslowdownhourspmepercentage | number:
                  "1.2-2"}}</span
                >
              </td>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlyslowdownhourstotalArr"
            >
              <td>
                <span class="mdfont">G.T</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownprocess_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.processinghours_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownhrsprocesspercentage_total | number:
                  "1.2-2" }}</span
                >
              </td>
            </tr>
          </table>
        </div>

        <div class="box">
          <apx-chart
            [series]="monthlyslowdownhoursOption.series"
            [chart]="monthlyslowdownhoursOption.chart"
            [xaxis]="monthlyslowdownhoursOption.xaxis"
            [markers]="monthlyslowdownhoursOption.markers"
            [stroke]="monthlyslowdownhoursOption.stroke"
            [yaxis]="monthlyslowdownhoursOption.yaxis"
            [dataLabels]="monthlyslowdownhoursOption.dataLabels"
            [fill]="monthlyslowdownhoursOption.fill"
            [tooltip]="monthlyslowdownhoursOption.tooltip"
            [legend]="monthlyslowdownhoursOption.legend"
          ></apx-chart>
        </div>

        <hr />

        <div style="text-align: center">
          <div class="col">
            <div class="h7 usertext"><b>Monthly Slowdown Hours (P)</b></div>
          </div>
        </div>

        <div style="overflow-x: auto">
          <table style="width: 100%; height: 100%" class="table table-bordered">
            <tr class="table_head">
              <th style="padding: 4px !important">
                <span class="mdfont">Month</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Slowdown Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Processing Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Slowdown %</span>
              </th>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlyslowdownhourspArr"
            >
              <td>
                <span class="mdfont">{{value.month}}</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millslowdownprocess | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.processinghours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millslowdownprocesspercentage | number:
                  "1.2-2"}}</span
                >
              </td>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlyslowdownhoursptotalArr"
            >
              <td>
                <span class="mdfont">G.T</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownprocess_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.processinghours_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownhrsprocesspercentage_total | number:
                  "1.2-2" }}</span
                >
              </td>
            </tr>
          </table>
        </div>

        <div class="box">
          <apx-chart
            [series]="monthlyslowdownhourspOption.series"
            [chart]="monthlyslowdownhourspOption.chart"
            [xaxis]="monthlyslowdownhourspOption.xaxis"
            [markers]="monthlyslowdownhourspOption.markers"
            [stroke]="monthlyslowdownhourspOption.stroke"
            [yaxis]="monthlyslowdownhourspOption.yaxis"
            [dataLabels]="monthlyslowdownhourspOption.dataLabels"
            [fill]="monthlyslowdownhourspOption.fill"
            [tooltip]="monthlyslowdownhourspOption.tooltip"
            [legend]="monthlyslowdownhourspOption.legend"
          ></apx-chart>
        </div>

        <hr />

        <div style="text-align: center">
          <div class="col">
            <div class="h7 usertext"><b>Monthly Slowdown Hours (M & E)</b></div>
          </div>
        </div>

        <div style="overflow-x: auto">
          <table style="width: 100%; height: 100%" class="table table-bordered">
            <tr class="table_head">
              <th style="padding: 4px !important">
                <span class="mdfont">Month</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Slowdown Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Processing Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Slowdown %</span>
              </th>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlyslowdownhoursmeArr"
            >
              <td>
                <span class="mdfont">{{value.month}}</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millslowdownhoursme | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.processinghours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millslowdownhoursmepercentage | number:
                  "1.2-2"}}</span
                >
              </td>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of monthlyslowdownhoursmetotalArr"
            >
              <td>
                <span class="mdfont">G.T</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownprocess_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.processinghours_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownhrsprocesspercentage_total | number:
                  "1.2-2" }}</span
                >
              </td>
            </tr>
          </table>
        </div>

        <div class="box">
          <apx-chart
            [series]="monthlyslowdownhoursmeOption.series"
            [chart]="monthlyslowdownhoursmeOption.chart"
            [xaxis]="monthlyslowdownhoursmeOption.xaxis"
            [markers]="monthlyslowdownhoursmeOption.markers"
            [stroke]="monthlyslowdownhoursmeOption.stroke"
            [yaxis]="monthlyslowdownhoursmeOption.yaxis"
            [dataLabels]="monthlyslowdownhoursmeOption.dataLabels"
            [fill]="monthlyslowdownhoursmeOption.fill"
            [tooltip]="monthlyslowdownhoursmeOption.tooltip"
            [legend]="monthlyslowdownhoursmeOption.legend"
          ></apx-chart>
        </div>

        <hr />

        <div style="text-align: center">
          <div class="col">
            <div class="h7 usertext">
              <b>Slowdown Hours by Station (M & E) FY {{currentyear}}</b>
            </div>
          </div>
        </div>

        <div style="overflow-x: auto">
          <table style="width: 100%; height: 100%" class="table table-bordered">
            <tr class="table_head">
              <th style="padding: 4px !important">
                <span class="mdfont">Month</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Slowdown Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Processing Hours</span>
              </th>
              <th style="padding: 4px !important">
                <span class="mdfont">Slowdown %</span>
              </th>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of slowdownhoursbystationArr"
            >
              <td>
                <span class="mdfont">{{value.station}}</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millslowdownhoursme | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.processinghours | number: "1.2-2"}}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{value.millslowdownhoursmepercentage | number:
                  "1.2-2"}}</span
                >
              </td>
            </tr>

            <tr
              class="table_row"
              *ngFor="let value of slowdownhoursbystationtotalArr"
            >
              <td>
                <span class="mdfont">G.T</span>
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownprocess_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.processinghours_total | number: "1.2-2" }}</span
                >
              </td>

              <td>
                <span class="mdfont"
                  >{{ value.millslowdownhrsprocesspercentage_total | number:
                  "1.2-2" }}</span
                >
              </td>
            </tr>
          </table>
        </div>

        <div class="box">
          <apx-chart
            [series]="slowdownhoursbystationmeOption.series"
            [chart]="slowdownhoursbystationmeOption.chart"
            [xaxis]="slowdownhoursbystationmeOption.xaxis"
            [markers]="slowdownhoursbystationmeOption.markers"
            [stroke]="slowdownhoursbystationmeOption.stroke"
            [yaxis]="slowdownhoursbystationmeOption.yaxis"
            [dataLabels]="slowdownhoursbystationmeOption.dataLabels"
            [fill]="slowdownhoursbystationmeOption.fill"
            [tooltip]="slowdownhoursbystationmeOption.tooltip"
            [legend]="slowdownhoursbystationmeOption.legend"
          ></apx-chart>
        </div>
      </div>
    </form>
  </ion-grid>
</ion-content>
