<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'PRESSSTATIONLOGSHEET.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="chartContainer8" style="margin: 10px">
    <ion-row class="form-row">
      <ion-col size="2">
        <img class="sdimage" src="../../../assets/img/reportlogo.png" />
      </ion-col>
      <ion-col size="8">
        <p class="title">{{userlist.address1}}</p>
        <p class="subtitle">
          {{userlist.address2}}<br />{{userlist.address3}}<br />{{userlist.address4}}
        </p>
      </ion-col>
      <ion-col size="2">
        <!-- <img class="reportimage" src="../../../assets/img/reportlogo.png" /> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="title" style="text-align: center">
          <b>{{ 'PRESSSTATIONLOGSHEET.pressstationrecordfor' | translate}} {{showDate}}</b>
        </div>
      </ion-col>
    </ion-row>

    <div style="overflow-x: auto" *ngIf="norecordsflag==false">
      <div *ngFor="let general of logsheetArr">
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr class="tr_amber">
            <th colspan="12" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.date' | translate}}</span>
            </th>

            <th colspan="13" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.millstarttime' | translate}}</span>
            </th>

            <th colspan="13" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.millstoptime' | translate}}</span>
            </th>
          </tr>

          <tr>
            <td colspan="12">{{general.millstart_date}}</td>

            <td colspan="13" style="background-color: green; color: white">
              {{general.millstart_time}}
            </td>

            <td colspan="13" style="background-color: red; color: white">
              {{general.millstop_time}}
            </td>
          </tr>

          <tr style="height: 20px">
            <td colspan="38"></td>
          </tr>

          <tr class="table_head">
            <th
              rowspan="3"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: green;
                color: #ffffff;
              "
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'PRESSSTATIONLOGSHEET.time' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              colspan="20"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: red;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.digestor' | translate}}</span>
            </th>

            <th
              colspan="15"
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.press' | translate}}</span>
            </th>

            <th
              rowspan="3"
              scope="colgroup"
              style="padding: 4px !important; background-color: #adaeeb"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.dilution' | translate}}<br />{{ 'PRESSSTATIONLOGSHEET.temperature' | translate}}</span>
            </th>

            <th
              rowspan="3"
              scope="colgroup"
              style="padding: 4px !important; background-color: #20e1ff"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.doneby' | translate}}</span>
            </th>
          </tr>

          <tr class="table_head">
            <th
              colspan="5"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fdd5cf"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.temperature' | translate}}</span>
            </th>

            <th
              colspan="5"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fdd5cf"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.motor' | translate}}</span>
            </th>

            <th
              colspan="5"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fdd5cf"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.level' | translate}}</span>
            </th>

            <th
              colspan="5"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fdd5cf"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.digestordrainage' | translate}}</span>
            </th>

            <th
              colspan="5"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fff0c2"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.motor' | translate}</span>
            </th>

            <th
              colspan="5"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fff0c2"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.hydraulicpressure' | translate}</span>
            </th>

            <th
              colspan="5"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fff0c2"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.fiberflow' | translate}}</span>
            </th>
          </tr>

          <tr class="table_head1">
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
            <th scope="colgroup" style="padding: 4px !important">
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
          </tr>

          <tr *ngFor="let value of general.logs">
            <td scope="row" style="overflow: auto">{{value.time}}</td>
            <td scope="row" style="overflow: auto">{{value.temperature_1}}</td>
            <td scope="row" style="overflow: auto">{{value.temperature_2}}</td>
            <td scope="row" style="overflow: auto">{{value.temperature_3}}</td>
            <td scope="row" style="overflow: auto">{{value.temperature_4}}</td>
            <td scope="row" style="overflow: auto">{{value.temperature_5}}</td>
            <td scope="row" style="overflow: auto">{{value.motor_1}}</td>
            <td scope="row" style="overflow: auto">{{value.motor_2}}</td>
            <td scope="row" style="overflow: auto">{{value.motor_3}}</td>
            <td scope="row" style="overflow: auto">{{value.motor_4}}</td>
            <td scope="row" style="overflow: auto">{{value.motor_5}}</td>
            <td scope="row" style="overflow: auto">{{value.level_1}}</td>
            <td scope="row" style="overflow: auto">{{value.level_2}}</td>
            <td scope="row" style="overflow: auto">{{value.level_3}}</td>
            <td scope="row" style="overflow: auto">{{value.level_4}}</td>
            <td scope="row" style="overflow: auto">{{value.level_5}}</td>
            <td scope="row" style="overflow: auto">
              {{value.digestordrainage_1}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.digestordrainage_2}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.digestordrainage_3}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.digestordrainage_4}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.digestordrainage_5}}
            </td>
            <td scope="row" style="overflow: auto">{{value.pressmotor_1}}</td>
            <td scope="row" style="overflow: auto">{{value.pressmotor_2}}</td>
            <td scope="row" style="overflow: auto">{{value.pressmotor_3}}</td>
            <td scope="row" style="overflow: auto">{{value.pressmotor_4}}</td>
            <td scope="row" style="overflow: auto">{{value.pressmotor_5}}</td>
            <td scope="row" style="overflow: auto">
              {{value.hydraulicpressure_1}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.hydraulicpressure_2}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.hydraulicpressure_3}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.hydraulicpressure_4}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.hydraulicpressure_5}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.presscakedrainage_1}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.presscakedrainage_2}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.presscakedrainage_3}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.presscakedrainage_4}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.presscakedrainage_5}}
            </td>
            <td scope="row" style="overflow: auto">
              {{value.dilutiontemperature}}
            </td>
            <td scope="row" style="overflow: auto">{{value.doneby}}</td>
          </tr>

          <tr>
            <th
              colspan="9"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: rgb(71, 71, 71);
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.verifiedby' | translate}}</span>
            </th>

            <th
              colspan="12"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: rgb(71, 71, 71);
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.remark' | translate}}</span>
            </th>

            <th
              colspan="9"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: rgb(71, 71, 71);
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.checkedby' | translate}}</span>
            </th>

            <th
              colspan="8"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: rgb(71, 71, 71);
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.remark' | translate}}</span>
            </th>
          </tr>

          <tr *ngFor="let value of general.remarks">
            <td colspan="9" scope="row" style="overflow: auto">
              <b>{{value.verifiedby}}</b>
            </td>
            <td colspan="12" scope="row" style="overflow: auto">
              {{value.verifiedremark}}
            </td>
            <td colspan="9" scope="row" style="overflow: auto">
              <b>{{value.checkedby}}</b>
            </td>
            <td colspan="8" scope="row" style="overflow: auto">
              {{value.checkedbyremark}}
            </td>
          </tr>
        </table>
      </div>

      <ion-row style="margin-top: 10px" *ngIf="departmentid==4">
        <ion-col style="text-align: center !important">
          <button
            type="submit"
            class="btn btn-success"
            (click)="remarksalert()"
          >
          {{ 'PRESSSTATIONLOGSHEET.verifyreport' | translate}} 
          </button>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 10px" *ngIf="departmentid==7 && status!=0">
        <ion-col style="text-align: center !important">
          <button
            type="submit"
            class="btn btn-success"
            (click)="remarksalert()"
          >
          {{ 'PRESSSTATIONLOGSHEET.checkreport' | translate}} 
          </button>
        </ion-col>
      </ion-row>
    </div>

    <div class="norecords" *ngIf="norecordsflag==true">{{ 'NORECORDSFOUND.norecordsfound' | translate}}</div>
  </div>
</ion-content>
