<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mill Performance 1</ion-title>
    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="millperformancedashboardForm">
      <div style="text-align: center">
        <div class="col">
          <div class="userfont usertext"><b>Daily Mill Performance</b></div>
        </div>
      </div>

      <div class="form-row">
        <div class="h7 text-white" style="text-align: center">
          <b>Date</b>
        </div>
        <div class="col">
          <input
            type="text"
            class="h7 form-control readonly"
            formControlName="millperformancedate"
            placeholder="DD-MM-YYYY"
            (click)="openDateTimePicker('MillDate')"
            readonly
          />
        </div>
        <div>
          <button
            type="button"
            class="h7 btn btn-general btn-sm margin-5px float-right"
            (click)="getPerformanceDetails()"
          >
            <!-- <ion-icon name="filter"></ion-icon> -->
            Get Records
          </button>
        </div>
      </div>

      <ion-row *ngIf="balancecropid!=0">
        <ion-card class="bg-amber card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col>
              <span class="mdfont common-black">Yesterday's Balance Crop</span>
            </ion-col>
          </ion-row>
          <ion-row style="align-items: center">
            <ion-col size="9">
              <span class="mdfont common-black"
                >{{balancecrop}} ({{balancecropby}})</span
              >
              <ion-row>
                <span class="common-black">
                  <strong class="h7">Balance FFB ({{balancecropdate}})</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="ion-text-center" size="3">
              <button
                type="button"
                class="h7 btn btn-edit"
                (click)="editalert()"
              >
                <ion-icon class="icon" name="create-outline"></ion-icon>
                <span class="icontext">Edit</span>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-blue card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{dailyffbprocessed | number: "1.2-2"}} MT</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">FFB Processed</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/ffbprocessed.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-blue card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{dailymillrunninghours | number: "1.2-2"}} Hr</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Mill Running Hours</strong>
                </span>
              </ion-row>
            </ion-col>
            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millrunninghours.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-blue card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{dailymillbreakdown | number: "1.2-2"}}
                ({{dailymillbreakdownpercentage | number: "1.2-2"}} %)</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Mill Breakdown</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millbreakdown.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-blue card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{dailymillslowdown | number: "1.2-2"}}
                ({{dailymillslowdownpercentage | number: "1.2-2"}} %)</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Mill Slowdown</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millslowdown.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <hr />

      <div style="text-align: center">
        <div class="col">
          <div class="userfont usertext"><b>Monthly Mill Performance</b></div>
        </div>
      </div>

      <div class="form-row">
        <div class="h7 text-white" style="text-align: center">
          <b>Month & Year</b>
        </div>
        <div class="col">
          <ion-datetime
            mode="ios"
            class="h7 form-control"
            formControlName="millperformancemonthyear"
            display-format="MM-YYYY"
          ></ion-datetime>
        </div>
        <div>
          <button
            type="button"
            class="h7 btn btn-outline-info btn-sm margin-5px float-right"
            (click)="getPerformanceDetails()"
          >
            <!-- <ion-icon name="filter"></ion-icon> -->
            Get Records
          </button>
        </div>
      </div>

      <ion-row>
        <ion-card class="bg-violet card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{monthlyffbprocessed | number: "1.2-2"}} MT</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Month Todate FFB Processed</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/ffbprocessed.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-violet card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{monthlymillrunninghours | number: "1.2-2"}} Hr</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Month Todate Mill Running Hours</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millrunninghours.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-violet card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{monthlymillbreakdown | number: "1.2-2"}}
                ({{monthlymillbreakdownpercentage | number: "1.2-2"}} %)</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Month Todate Mill Breakdown</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millbreakdown.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-violet card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{monthlymillslowdown | number: "1.2-2"}}
                ({{monthlymillslowdownpercentage | number: "1.2-2"}} %)</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Month Todate Mill Slowdown</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millslowdown.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <hr />

      <div style="text-align: center">
        <div class="col">
          <div class="userfont usertext"><b>Yearly Mill Performance</b></div>
        </div>
      </div>

      <div class="form-row">
        <div class="h7 text-white" style="text-align: center">
          <b>Year</b>
        </div>
        <div class="col">
          <ion-datetime
            mode="ios"
            class="h7 form-control"
            formControlName="millperformanceyear"
            display-format="YYYY"
          ></ion-datetime>
        </div>
        <div>
          <button
            type="button"
            class="h7 btn btn-outline-info btn-sm margin-5px float-right"
            (click)="getPerformanceDetails()"
          >
            <!-- <ion-icon name="filter"></ion-icon> -->
            Get Records
          </button>
        </div>
      </div>

      <ion-row>
        <ion-card class="bg-green card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{yearlyffbprocessed | number: "1.2-2"}} MT</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Year Todate FFB Processed</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/ffbprocessed.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-green card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{yearlymillrunninghours | number: "1.2-2"}} Hr</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Year Todate Mill Running Hours</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millrunninghours.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-green card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{yearlymillbreakdown | number: "1.2-2"}}
                ({{yearlymillbreakdownpercentage | number: "1.2-2"}} %)</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Year Todate Mill Breakdown</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millbreakdown.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="bg-green card-height bottompad-10px" no-margin>
          <ion-row>
            <ion-col size="9">
              <span class="mdfont common-whitecolor"
                >{{yearlymillslowdown | number: "1.2-2"}}
                ({{yearlymillslowdownpercentage | number: "1.2-2"}} %)</span
              >
              <ion-row>
                <span class="common-whitecolor">
                  <strong class="h7">Year Todate Mill Slowdown</strong>
                </span>
              </ion-row>
            </ion-col>

            <ion-col class="imagecenter" size="3">
              <img
                src="../../assets/img/millslowdown.png"
                alt="PROFILE"
                style="width: 50px; height: 50px"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <hr />

      <div style="text-align: center">
        <div class="col">
          <div class="userfont usertext">
            <b>Data Analysis Using Mill Performance Chart</b>
          </div>
        </div>
      </div>

      <div style="text-align: center">
        <div class="col">
          <div class="h7 usertext">
            <b>Daily Breakdown and Slowdown Hours by Station</b>
          </div>
        </div>
      </div>

      <div class="box">
        <apx-chart
          [chart]="barOptions.chart"
          [series]="barOptions.series"
          [xaxis]="barOptions.xaxis"
          [yaxis]="barOptions.yaxis"
          [legend]="barOptions.legend"
          [grid]="barOptions.grid"
          [dataLabels]="barOptions.dataLabels"
        ></apx-chart>
      </div>

      <hr />

      <div style="text-align: center">
        <div class="col">
          <div class="h7 usertext">
            <b>Daily Breakdown and Slowdown Hours for {{currentmonthyear}}</b>
          </div>
        </div>
      </div>

      <div class="box">
        <apx-chart
          [chart]="barwithNegativeValuesOptions.chart"
          [series]="barwithNegativeValuesOptions.series"
          [dataLabels]="barwithNegativeValuesOptions.dataLabels"
          [plotOptions]="barwithNegativeValuesOptions.plotOptions"
          [yaxis]="barwithNegativeValuesOptions.yaxis"
          [xaxis]="barwithNegativeValuesOptions.xaxis"
          [legend]="barOptions.legend"
        ></apx-chart>
      </div>

      <hr />

      <div style="text-align: center">
        <div class="col">
          <div class="h7 usertext">
            <b>FFB Processed for {{currentmonthyear}}</b>
          </div>
        </div>
      </div>

      <div class="box">
        <apx-chart
          [series]="lineOptions.series"
          [chart]="lineOptions.chart"
          [yaxis]="lineOptions.yaxis"
          [xaxis]="lineOptions.xaxis"
          [labels]="lineOptions.labels"
          [stroke]="lineOptions.stroke"
          [markers]="lineOptions.markers"
          [fill]="lineOptions.fill"
          [tooltip]="lineOptions.tooltip"
        ></apx-chart>
      </div>

      <hr />

      <div style="text-align: center">
        <div class="col">
          <div class="h7 usertext">
            <b>Ideal and Actual Running Hours for {{currentmonthyear}}</b>
          </div>
        </div>
      </div>

      <div class="box">
        <apx-chart
          [series]="multipleyaxisOptions.series"
          [chart]="multipleyaxisOptions.chart"
          [xaxis]="multipleyaxisOptions.xaxis"
          [markers]="multipleyaxisOptions.markers"
          [stroke]="multipleyaxisOptions.stroke"
          [yaxis]="multipleyaxisOptions.yaxis"
          [dataLabels]="multipleyaxisOptions.dataLabels"
          [fill]="multipleyaxisOptions.fill"
          [tooltip]="multipleyaxisOptions.tooltip"
          [legend]="multipleyaxisOptions.legend"
        ></apx-chart>
      </div>
    </form>
  </ion-grid>
</ion-content>
