<ion-header>
  <ion-toolbar
    class="bg-brown-color"
    *ngIf="!fruittypeimageviewFlag && !p1imageviewFlag && !p3imageviewFlag"
  >
    <ion-title mode="ios" color="light"
      >{{ 'HOURLYSTERILIZATIONSTATIONSAVE.title' | translate}}</ion-title
    >
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar
    class="bg-brown-color"
    *ngIf="(fruittypeimageviewFlag || p1imageviewFlag || p3imageviewFlag)"
  >
    <ion-title color="light" style="text-align: center"
      >{{imagetype}} {{ 'HOURLYSTERILIZATIONSTATIONSAVE.images' |
      translate}}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button color="whitefav" (click)="imageviewcancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop>
  <!-- Input Data to get from user -->
  <form
    [formGroup]="sterilizerstationForm"
    *ngIf="!viewFlag && !fruittypeimageviewFlag && !p1imageviewFlag && !p3imageviewFlag"
  >
    <div *ngIf="uienableflag">
      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.cycleno' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="7">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_cyclenumber"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.cycleno' | translate}}"
          />
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.sterilizerno' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="7">
          <select
            formControlName="select_sterilizer"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYSTERILIZATIONSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of sterilizerArr"
            >
              {{ value.machine_name }}
            </option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.fruittype' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="7">
          <select
            formControlName="select_fruittype"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYSTERILIZATIONSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of fruittypeArr"
            >
              {{ value.fruittype }}
            </option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.doorshuttime' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="7">
          <!-- <ion-datetime
            mode="ios"
            class="h7 form-control"
            formControlName="txt_doorshuttime"
            display-format="DD-MM-YYYY HH:mm"
            placeholder="DD-MM-YYYY HH:mm"
          >
          </ion-datetime> -->

          <input
            type="text"
            class="h7 form-control readonly"
            formControlName="txt_doorshuttime"
            placeholder="DD-MM-YYYY HH:mm"
            (click)="openDateTimePicker('DST')"
            readonly
          />
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.dooropentime' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="7">
          <!-- <ion-datetime
            mode="ios"
            class="h7 form-control"
            formControlName="txt_dooropentime"
            display-format="DD-MM-YYYY HH:mm"
            placeholder="DD-MM-YYYY HH:mm"
          >
          </ion-datetime> -->

          <input
            type="text"
            class="h7 form-control readonly"
            formControlName="txt_dooropentime"
            placeholder="DD-MM-YYYY HH:mm"
            (click)="openDateTimePicker('DOT')"
            readonly
          />
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.backpressure' | translate}}<br />{{
            'HOURLYSTERILIZATIONSTATIONSAVE.receiver' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="5.5">
          <input
            type="number"
            class="h7 form-control"
            id="backpressurereceiver"
            name="backpressurereceiver"
            formControlName="txt_backpressurereceiver"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.backpressureterm' | translate}}"
            (input)="onChangeBackPressureReceiver()"
          />
        </ion-col>
        <ion-col size="1.5">
          <div class="h7 text-light"><b>PSI</b></div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1peak' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="5.5">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_p1"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1peak' | translate}}"
            (input)="onChangeP1()"
          />
        </ion-col>
        <ion-col size="1.5">
          <div class="h7 text-light"><b>PSI</b></div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p2peak' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="5.5">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_p2"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p2peak' | translate}}"
            (input)="onChangeP2()"
          />
        </ion-col>
        <ion-col size="1.5">
          <div class="h7 text-light"><b>PSI</b></div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3peak' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="5.5">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_p3"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3peak' | translate}}"
            (input)="onChangeP3()"
          />
        </ion-col>
        <ion-col size="1.5">
          <div class="h7 text-light"><b>PSI</b></div>
        </ion-col>
      </ion-row>

      <!-- <div style="text-align: center; margin-top: 20px;">
        <button type="submit" class="h7 btn btn-success" (click)="cookingtimethresholdalert()">
          Save
        </button>
      </div> -->

      <div class="imagecard" *ngIf="fruittypeimageuiflag">
        <div class="title">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.fruittypeimages' | translate}}
        </div>
        <ion-row class="form-row">
          <ion-col>
            <input
              type="text"
              class="h7 form-control"
              formControlName="txt_fruittypeimageupload"
              placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.uploadbuttonmessage' | translate}}"
              readonly
          /></ion-col>
        </ion-row>

        <ion-row style="margin-top: 10px">
          <ion-col size="6" style="text-align: right !important">
            <button
              type="submit"
              class="btn btn-general"
              (click)="btn_view('FruitType')"
            >
              <ion-icon class="icon" name="eye-outline"></ion-icon>
              <span class="icontext">
                {{ 'GENERALBUTTON.viewbutton' | translate}}</span
              >
            </button>
          </ion-col>

          <ion-col size="6" style="text-align: left !important">
            <button
              type="submit"
              class="btn btn-warning"
              (click)="imageUpload('FruitType')"
            >
              <ion-icon class="icon" name="cloud-upload-outline"></ion-icon>
              <span class="icontext">
                {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
              >
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div class="imagecard" *ngIf="p1imageuiflag">
        <div class="title">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1images' | translate}}
        </div>
        <ion-row class="form-row">
          <ion-col>
            <input
              type="text"
              class="h7 form-control"
              formControlName="txt_p1imageupload"
              placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.uploadbuttonmessage' | translate}}"
              readonly
          /></ion-col>
        </ion-row>

        <ion-row style="margin-top: 10px">
          <ion-col size="6" style="text-align: right !important">
            <button
              type="submit"
              class="btn btn-general"
              (click)="btn_view('P1')"
            >
              <ion-icon class="icon" name="eye-outline"></ion-icon>
              <span class="icontext">
                {{ 'GENERALBUTTON.viewbutton' | translate}}</span
              >
            </button>
          </ion-col>

          <ion-col size="6" style="text-align: left !important">
            <button
              type="submit"
              class="btn btn-warning"
              (click)="imageUpload('P1')"
            >
              <ion-icon class="icon" name="cloud-upload-outline"></ion-icon>
              <span class="icontext">
                {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
              >
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div class="imagecard" *ngIf="p3imageuiflag">
        <div class="title">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3images' | translate}}
        </div>
        <ion-row class="form-row">
          <ion-col>
            <input
              type="text"
              class="h7 form-control"
              formControlName="txt_p3imageupload"
              placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.uploadbuttonmessage' | translate}}"
              readonly
          /></ion-col>
        </ion-row>

        <ion-row style="margin-top: 10px">
          <ion-col size="6" style="text-align: right !important">
            <button
              type="submit"
              class="btn btn-general"
              (click)="btn_view('P3')"
            >
              <ion-icon class="icon" name="eye-outline"></ion-icon>
              <span class="icontext">
                {{ 'GENERALBUTTON.viewbutton' | translate}}</span
              >
            </button>
          </ion-col>

          <ion-col size="6" style="text-align: left !important">
            <button
              type="submit"
              class="btn btn-warning"
              (click)="imageUpload('P3')"
            >
              <ion-icon class="icon" name="cloud-upload-outline"></ion-icon>
              <span class="icontext">
                {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
              >
            </button>
          </ion-col>
        </ion-row>
      </div>

      <hr />

      <ion-row>
        <ion-col size="6" style="text-align: right !important">
          <button type="submit" class="btn btn-save" (click)="savealert()">
            {{ 'GENERALBUTTON.savebutton' | translate}}
          </button>
        </ion-col>

        <ion-col size="6" style="text-align: left !important">
          <button type="submit" class="btn btn-cancel" (click)="cancel()">
            {{ 'GENERALBUTTON.cancelbutton' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </div>

    <div class="norecords" *ngIf="norecordsflag==true">
      {{ 'HOURLYSTERILIZATIONSTATIONSAVE.nosertilizationstationinonline' |
      translate}}
    </div>
  </form>

  <!-- To View Data before to Save -->
  <div
    class="home-box"
    *ngIf="viewFlag && !fruittypeimageviewFlag && !p1imageviewFlag && !p3imageviewFlag"
  >
    <div class="h6 text-light" style="margin-left: 10px">
      {{ 'HOURLYSTERILIZATIONSTATIONSAVE.alert' | translate}}
    </div>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.cycleno' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.cycleno' | translate}}"
          value="{{view_cycleno}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.sterilizerno' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.sterilizerno' | translate}}"
          value="{{view_sterilizername}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.fruittype' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.fruittype' | translate}}"
          value="{{view_fruittype}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.doorshuttime' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.doorshuttime' | translate}}"
          value="{{view_doorshuttime}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.dooropentime' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.dooropentime' | translate}}"
          value="{{view_dooropentime}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.backpressurereceiver' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.backpressureterm' | translate}}"
          value="{{view_backpressurereceiver}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1peak' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1peak' | translate}}"
          value="{{view_p1peak}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p2peak' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p2peak' | translate}}"
          value="{{view_p2peak}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3peak' | translate}}
        </div>
      </ion-col>
      <ion-col size="7">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3peak' | translate}}"
          value="{{view_p3peak}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <hr />

    <ion-row>
      <ion-col size="6" style="text-align: right !important">
        <button
          type="submit"
          [disabled]="isDisabled"
          class="btn btn-confirm"
          (click)="confirmalert()"
        >
          {{ 'GENERALBUTTON.confirmbutton' | translate}}
        </button>
      </ion-col>

      <ion-col size="6" style="text-align: left !important">
        <button type="submit" class="btn btn-cancel" (click)="cancelconfirm()">
          {{ 'GENERALBUTTON.cancelbutton' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </div>

  <!-- To View Images in Slider -->
  <!-- Fruit Type Images -->
  <div class="content" *ngIf="!viewFlag && fruittypeimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of fruittypeimagesArr">
        <img
          style="width: 500px; height: 500px"
          src="{{value}}"
          alt=""
          srcset=""
        />
      </ion-slide>
    </ion-slides>
  </div>

  <!-- P1 Images -->
  <div class="content" *ngIf="!viewFlag && p1imageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of p1imagesArr">
        <img
          style="width: 500px; height: 500px"
          src="{{value}}"
          alt=""
          srcset=""
        />
      </ion-slide>
    </ion-slides>
  </div>

  <!-- P3 Images -->
  <div class="content" *ngIf="!viewFlag && p3imageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of p3imagesArr">
        <img
          style="width: 500px; height: 500px"
          src="{{value}}"
          alt=""
          srcset=""
        />
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
