<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-avatar slot="start">
      <ion-img
        class="toolbarimage"
        src="../../../assets/img/logo.png"
      ></ion-img>
    </ion-avatar>
    <ion-title color="light" [innerHTML]="mill_name"></ion-title>

    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge class="todaybadge" *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #myElementRef>
  <ion-grid>
    <ion-row>
      <ion-card class="bg-yellow card-height" no-margin>
        <span class="mdfont common-whitecolor">{{userlist.welcome_msg}}</span>
      </ion-card>
    </ion-row>
  </ion-grid>

  <div class="home-box">
    <form [formGroup]="dashboardForm">
      <div class="checkcard">
        <ion-grid *ngIf="(millstartdatetime || millstopdatetime) != ''">
          <ion-row class="ion-text-center">
            <ion-col
              size="6"
              no-padding
              (click)="changemillstartstopdatetime(millstartdatetime)"
            >
              <ion-icon
                name="business-sharp"
                [style.color]="'#008000'"
                size="large"
              ></ion-icon>
              <p class="mdfont">{{ 'SUPERVISORDASHBOARD.millstartdatetime' | translate}}</p>
              <p
                class="mdfont"
                style="color: green"
                *ngIf="millstartdatetime != ''"
              >
                {{millstartdatetime}}
              </p>
              <p
                class="mdfont"
                style="color: green"
                *ngIf="millstartdatetime == ''"
              >
                -
              </p>
            </ion-col>

            <ion-col
              size="6"
              no-padding
              (click)="changemillstartstopdatetime(millstopdatetime)"
            >
              <ion-icon
                name="business-sharp"
                [style.color]="'#ff0000'"
                size="large"
              ></ion-icon>
              <p class="mdfont">{{ 'SUPERVISORDASHBOARD.millstopdatetime' | translate}}</p>
              <p
                class="mdfont"
                style="color: red"
                *ngIf="millstopdatetime != ''"
              >
                {{millstopdatetime}}
              </p>
              <p
                class="mdfont"
                style="color: red"
                *ngIf="millstopdatetime == ''"
              >
                -
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Executed during if Mill is not yet started -->
        <ion-row *ngIf="!isDisabled">
          <ion-col>
            <button
              type="submit"
              class="btn btn-productionstart"
              *ngIf="productionflag == 0"
              (click)="confirmProduction(productionflag)"
            >
            {{ 'SUPERVISORDASHBOARD.startproduction' | translate}}
            </button>
            <button
              type="submit"
              class="btn btn-productionstop"
              *ngIf="productionflag != 0"
              (click)="confirmProduction(productionflag)"
            >
            {{ 'SUPERVISORDASHBOARD.stopproduction' | translate}}
            </button>
          </ion-col>

          <ion-col>
            <button
              type="submit"
              [disabled]="isDisabled"
              class="btn btn-breakdown"
              (click)="breakdownalert()"
            >
            {{ 'SUPERVISORDASHBOARD.breakdown' | translate}}
            </button>
          </ion-col>
        </ion-row>
        <!-- ------------------------------------------ -->
        <!-- Executed during if Mill is started -->
        <ion-row *ngIf="isDisabled">
          <ion-col style="display: flex; justify-content: center">
            <button
              type="submit"
              class="btn btn-productionstart"
              style="width: 250px"
              *ngIf="productionflag == 0"
              (click)="confirmProduction(productionflag)"
            >
            {{ 'SUPERVISORDASHBOARD.startproduction' | translate}}
            </button>
            <button
              type="submit"
              class="btn btn-productionstop"
              *ngIf="productionflag != 0"
              style="width: 145px"
              (click)="confirmProduction(productionflag)"
            >
            {{ 'SUPERVISORDASHBOARD.stopproduction' | translate}}
            </button>
          </ion-col>
        </ion-row>
        <!-- ------------------------------------------ -->
      </div>

      <div *ngIf="uienable">
        <!-- Fruit Handling Station -->
        <div *ngIf="fruithandlinguienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.fruithandlingstation' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="fruithandlingbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="fruithandlingbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="fruithandlingbuttonflag == 0"
                (click)="confirmMachines('Fruit handling station', fruithandlingbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="fruithandlingbuttonflag != 0"
                (click)="confirmMachines('Fruit handling station', fruithandlingbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of fruithandlingstationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Fruit handling station', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Sterilization Station -->
        <div *ngIf="sterilisationstationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.sterilizationstation' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="sterilisationbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="sterilisationbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="sterilisationbuttonflag == 0"
                (click)="confirmMachines('Sterilisation station', sterilisationbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="sterilisationbuttonflag != 0"
                (click)="confirmMachines('Sterilisation station', sterilisationbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of sterilisationstationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Sterilisation station', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Threshing Station -->
        <div *ngIf="threshingstationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.threshingstation' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="threshingbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="threshingbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="threshingbuttonflag == 0"
                (click)="confirmMachines('Threshing station', threshingbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="threshingbuttonflag != 0"
                (click)="confirmMachines('Threshing station', threshingbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of threshingstationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Threshing station', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Pressing Station -->
        <div *ngIf="pressingstationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.pressingstation' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="pressingbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="pressingbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="pressingbuttonflag == 0"
                (click)="confirmMachines('Pressing station', pressingbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="pressingbuttonflag != 0"
                (click)="confirmMachines('Pressing station', pressingbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of pressingstationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Pressing station', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Clarification Station -->
        <div *ngIf="clarificationstationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.clarificationstation' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="clarificationbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="clarificationbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="clarificationbuttonflag == 0"
                (click)="confirmMachines('Clarification station', clarificationbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="clarificationbuttonflag != 0"
                (click)="confirmMachines('Clarification station', clarificationbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of clarificationstationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Clarification station', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Depericarping Station -->
        <div *ngIf="depericarpingstationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.deprecarpingstation' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="depericarpingbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="depericarpingbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="depericarpingbuttonflag == 0"
                (click)="confirmMachines('Depericarping station', depericarpingbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="depericarpingbuttonflag != 0"
                (click)="confirmMachines('Depericarping station', depericarpingbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of depericarpingstationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Depericarping station', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Kernel Recovery Station -->
        <div *ngIf="kernelrecoverystationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.kernelstation' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="kernelrecoverybuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="kernelrecoverybuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="kernelrecoverybuttonflag == 0"
                (click)="confirmMachines('Kernel recovery station', kernelrecoverybuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="kernelrecoverybuttonflag != 0"
                (click)="confirmMachines('Kernel recovery station', kernelrecoverybuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of kernelrecoverystationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Kernel recovery station', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Boiler Station -->
        <div *ngIf="boilerstationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.boilerstation' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="boilerbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="boilerbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="boilerbuttonflag == 0"
                (click)="confirmMachines('Boiler station', boilerbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="boilerbuttonflag != 0"
                (click)="confirmMachines('Boiler station', boilerbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of boilerstationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Boiler station', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Power Generation -->
        <div *ngIf="powergenerationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.powergeneration' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="powergenerationbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="powergenerationbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="powergenerationbuttonflag == 0"
                (click)="confirmMachines('Power generation', powergenerationbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="powergenerationbuttonflag != 0"
                (click)="confirmMachines('Power generation', powergenerationbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of powergenerationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Power generation', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>

          <hr />
        </div>

        <!-- Administration -->
        <div *ngIf="administrationuienableflag">
          <div class="h6 text-dark title">{{ 'HOURLYPRESSINGREPORTING.administration' | translate}}</div>

          <ion-row class="vertical-align-content">
            <ion-col size="10" style="text-align: right">
              <div class="h7 text-dark" *ngIf="administrationbuttonflag == 0">
                <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
              </div>
              <div class="h7 text-dark" *ngIf="administrationbuttonflag != 0">
                <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
              </div>
            </ion-col>

            <ion-col style="text-align: right" size="2">
              <img
                class="machineimg"
                src="../../assets/img/on-button.png"
                alt="PROFILE"
                *ngIf="administrationbuttonflag == 0"
                (click)="confirmMachines('Administration', administrationbuttonflag)"
              />
              <img
                class="machineimg"
                src="../../assets/img/off-button.png"
                alt="PROFILE"
                *ngIf="administrationbuttonflag != 0"
                (click)="confirmMachines('Administration', administrationbuttonflag)"
              />
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of administrationArr">
            <ion-col size="6" *ngFor="let eachitem of item">
              <ion-card
                class="card card-height"
                [style.--ion-background-color]="getBackGroundColor(eachitem.status)"
                (click)="btn_Action('Administration', eachitem)"
              >
                <ion-row>
                  <ion-col class="imagecenter" size="4">
                    <img src="{{eachitem.image_url}}" alt="PROFILE" />
                  </ion-col>

                  <ion-col class="vertical-align-content" size="8">
                    <div class="h7 text-dark">{{eachitem.machine_name}}</div>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </form>
  </div>
</ion-content>
