<ion-content>
  <div class="content">
    <!-- <div
    style="
      width: 100%;
      text-align: right;
      color: #dc3545;
      font-size: 12px;
      margin-right: 10px;
    "
    (click)="close()"
  >
    CLOSE
  </div> -->

    <!-- <div style="width: 100%; text-align: center">
    <img
      style="width: 120px; height: 120px; margin-top: 10px"
      src="../../../assets/img/cracker.gif"
    />
  </div> -->

    <div style="width: 100%; text-align: center">
      <img
        style="width: 150px; height: 150px; margin-top: -40px"
        src="../../../assets/img/congratsnote.png"
      />
    </div>

    <div style="text-align: center; margin-top: -40px">
      <div class="title">You earned</div>

      <div class="points">{{rewardpoints}}</div>
    </div>
  </div>
</ion-content>
