<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-avatar slot="start" *ngIf="!uiEnable">
      <ion-img
        class="toolbarimage"
        src="../../../assets/img/logo.png"
      ></ion-img>
    </ion-avatar>

    <ion-buttons slot="start" *ngIf="uiEnable">
      <ion-button class="bg-light-color" (click)="goback()">
        <ion-icon name="arrow-back" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <!-- <ion-button class="bg-light-color" (click)="scanqrcode()">
        <ion-icon name="qr-code-outline" style="color: white"></ion-icon>
      </ion-button> -->

      <ion-button
        class="bg-light-color"
        (click)="btn_notification()"
        *ngIf="!uiEnable"
      >
        <ion-badge *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      color="light"
      [innerHTML]="mill_name"
      *ngIf="!uiEnable"
    ></ion-title>

    <ion-title *ngIf="uiEnable" mode="ios" color="light"
      >{{ 'QRCODESCANNER.maintenancehistory' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Displays after the QR code has been scanned --- Start -->
  <div class="content" *ngIf="uiEnable">
    <div class="checkcard" *ngIf="stationname!='' || machineryname!=''">
      <ion-row *ngIf="stationname!=''">
        <ion-col size="3.5">
          <div style="font-size: 12px">{{ 'QRCODESCANNER.station' | translate}}</div>
        </ion-col>

        <ion-col size="0.5">
          <div style="font-size: 12px">:</div>
        </ion-col>

        <ion-col size="8">
          <div style="font-size: 12px; font-weight: bold">{{stationname}}</div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="machineryname!=''">
        <ion-col size="3.5">
          <div style="font-size: 12px">{{ 'QRCODESCANNER.machinery' | translate}}</div>
        </ion-col>

        <ion-col size="0.5">
          <div style="font-size: 12px">:</div>
        </ion-col>

        <ion-col size="8">
          <div style="font-size: 12px; font-weight: bold">
            {{machineryname}}
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-segment
      (ionChange)="segmentChanged($event)"
      [(ngModel)]="tabs_segment"
    >
      <ion-segment-button value="Routine Preventive Maintenance">
        <!-- ROUT Changed to RoPM -->
        <ion-label text-wrap class="h7" style="text-transform: none"
          >{{ 'QRCODESCANNER.routine' | translate}}</ion-label
        >
      </ion-segment-button>

      <ion-segment-button value="Replacement Preventive Maintenance">
        <!-- REPL Changed to RePM -->
        <ion-label text-wrap class="h7" style="text-transform: none"
          >{{ 'QRCODESCANNER.replacement' | translate}}</ion-label
        >
      </ion-segment-button>

      <ion-segment-button value="Corrective Maintenance">
        <ion-label text-wrap class="h7" style="text-transform: none"
          >{{ 'QRCODESCANNER.corrective' | translate}}</ion-label
        >
      </ion-segment-button>
    </ion-segment>
    <form [formGroup]="historyForm">
      <div [ngSwitch]="tabs_segment">
        <div *ngSwitchCase="'Routine Preventive Maintenance'">
          <div class="col">
            <select
              formControlName="select_status"
              style="margin-top: 10px"
              (change)="onchagestatus()"
              class="h7 text-dark form-control"
            >
              <option value="">{{ 'QRCODESCANNER.searchbystatus' | translate}}</option>
              <option value="{{item.id}}" *ngFor="let item of statusArr">
                {{ item.status }}
              </option>
            </select>
          </div>
          <div class="container">
            <ul>
              <li *ngFor="let value of historyList">
                <div class="textdate">{{value.date}}</div>
                <span
                  class="time"
                  [style]="'--timeline-color:' + getBorderColor(value.statusId)"
                ></span>
                <div class="home-box">
                  <div class="card gedf-card margin-bottom">
                    <div class="card-header">
                      <div class="form-row">
                        <div class="col">
                          <div
                            class="h7 text-dark"
                            style="float: left; text-align: center"
                          >
                            <b>{{value.statusName}}</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="margin: 10px 5px 10px 5px">
                      <div
                        class="h7 text-white"
                        *ngIf="value.notificationno!=''"
                      >
                        <b>ID : </b> {{value.notificationno}}
                      </div>
                      <div class="h7 text-white" *ngIf="value.partdefect!=''">
                        <b>{{ 'QRCODESCANNER.partdefect' | translate}} : </b> {{value.partdefect}}
                      </div>

                      <div class="h7 text-white" *ngIf="value.damage!=''">
                        <b>{{ 'QRCODESCANNER.damage' | translate}} : </b> {{value.damage}}
                      </div>

                      <div
                        class="h7 text-white"
                        *ngIf="value.operationoractivity!=''"
                      >
                        <b>{{ 'QRCODESCANNER.operationactivity' | translate}} : </b>
                        {{value.operationoractivity}}
                      </div>
                    </div>
                    <ion-row class="row-reverse">
                      <button
                        type="button"
                        class="h7 btn timelinebtn btn-sm margin-5px button"
                        (click)="gettimeline(value)"
                      >
                        <ion-icon
                          class="icon"
                          name="stopwatch-outline"
                        ></ion-icon>
                      </button>

                      <button
                        type="button"
                        class="h7 btn summarybtn btn-sm margin-5px"
                        (click)="getmaintenancesummary(value)"
                      >
                        <ion-icon
                          class="icon"
                          name="document-text-outline"
                        ></ion-icon>
                      </button>
                    </ion-row>

                    <!-- 
                  <ion-row class="row-reverse">
                  
                    <ion-button fill="outline">
                      <ion-icon slot="icon-only" name="document-text-outline" color="light"></ion-icon>
                    </ion-button>

                  </ion-row> -->
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="norecords" *ngIf="enableflag==true">{{ 'NORECORDSFOUND.norecordsfound' | translate}}</div>
        </div>

        <div *ngSwitchCase="'Replacement Preventive Maintenance'">
          <div class="col">
            <select
              formControlName="select_status"
              style="margin-top: 10px"
              (change)="onchagestatus()"
              class="h7 text-dark form-control"
            >
              <option value="">{{ 'QRCODESCANNER.searchbystatus' | translate}}</option>
              <option value="{{item.id}}" *ngFor="let item of statusArr">
                {{ item.status }}
              </option>
            </select>
          </div>
          <div class="container">
            <ul>
              <li *ngFor="let value of historyList">
                <div class="textdate">{{value.date}}</div>
                <span
                  class="time"
                  [style]="'--timeline-color:' + getBorderColor(value.statusId)"
                ></span>
                <div class="home-box">
                  <div class="card gedf-card margin-bottom">
                    <div class="card-header">
                      <div class="form-row">
                        <div class="col">
                          <div
                            class="h7 text-dark"
                            style="float: left; text-align: center"
                          >
                            <b>{{value.statusName}}</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="margin: 10px 5px 10px 5px">
                      <div
                        class="h7 text-white"
                        *ngIf="value.notificationno!=''"
                      >
                        <b>ID : </b> {{value.notificationno}}
                      </div>
                      <div class="h7 text-white" *ngIf="value.partdefect!=''">
                        <b>{{ 'QRCODESCANNER.partdefect' | translate}} : </b> {{value.partdefect}}
                      </div>

                      <div class="h7 text-white" *ngIf="value.damage!=''">
                        <b>{{ 'QRCODESCANNER.damage' | translate}} : </b> {{value.damage}}
                      </div>

                      <div
                        class="h7 text-white"
                        *ngIf="value.operationoractivity!=''"
                      >
                        <b>{{ 'QRCODESCANNER.operationactivity' | translate}}: </b>
                        {{value.operationoractivity}}
                      </div>
                    </div>
                    <ion-row class="row-reverse">
                      <button
                        type="button"
                        class="h7 btn timelinebtn btn-sm margin-5px"
                        (click)="gettimeline(value)"
                      >
                        <ion-icon
                          class="icon"
                          name="stopwatch-outline"
                        ></ion-icon>
                      </button>

                      <button
                        type="button"
                        class="h7 btn summarybtn btn-sm margin-5px"
                        (click)="getmaintenancesummary(value)"
                      >
                        <ion-icon
                          class="icon"
                          name="document-text-outline"
                        ></ion-icon>
                      </button>
                    </ion-row>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="norecords" *ngIf="enableflag==true">{{ 'NORECORDSFOUND.norecordsfound' | translate}}</div>
        </div>

        <div *ngSwitchCase="'Corrective Maintenance'">
          <div class="col">
            <select
              formControlName="select_status"
              style="margin-top: 10px"
              (change)="onchagestatus()"
              class="h7 text-dark form-control"
            >
              <option value="">{{ 'QRCODESCANNER.searchbystatus' | translate}}</option>
              <option value="{{item.id}}" *ngFor="let item of statusArr">
                {{ item.status }}
              </option>
            </select>
          </div>
          <div class="container">
            <ul>
              <li *ngFor="let value of historyList">
                <div class="textdate">{{value.date}}</div>
                <span
                  class="time"
                  [style]="'--timeline-color:' + getBorderColor(value.statusId)"
                ></span>
                <div class="home-box">
                  <div class="card gedf-card margin-bottom">
                    <div class="card-header">
                      <div class="form-row">
                        <div class="col">
                          <div
                            class="h7 text-dark"
                            style="float: left; text-align: center"
                          >
                            <b>{{value.statusName}}</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="margin: 10px 5px 10px 5px">
                      <div
                        class="h7 text-white"
                        *ngIf="value.notificationno!=''"
                      >
                        <b>ID : </b> {{value.notificationno}}
                      </div>

                      <div class="h7 text-white" *ngIf="value.partdefect!=''">
                        <b>{{ 'QRCODESCANNER.partdefect' | translate}} : </b> {{value.partdefect}}
                      </div>

                      <div class="h7 text-white" *ngIf="value.damage!=''">
                        <b>{{ 'QRCODESCANNER.damage' | translate}}  : </b> {{value.damage}}
                      </div>

                      <div
                        class="h7 text-white"
                        *ngIf="value.operationoractivity!=''"
                      >
                        <b>{{ 'QRCODESCANNER.operationactivity' | translate}} : </b>
                        {{value.operationoractivity}}
                      </div>
                    </div>
                    <ion-row class="row-reverse">
                      <button
                        type="button"
                        class="h7 btn timelinebtn btn-sm margin-5px"
                        (click)="gettimeline(value)"
                      >
                        <ion-icon
                          class="icon"
                          name="stopwatch-outline"
                        ></ion-icon>
                      </button>

                      <button
                        type="button"
                        class="h7 btn summarybtn btn-sm margin-5px"
                        (click)="getmaintenancesummary(value)"
                      >
                        <ion-icon
                          class="icon"
                          name="document-text-outline"
                        ></ion-icon>
                      </button>
                    </ion-row>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="norecords" *ngIf="enableflag==true">{{ 'NORECORDSFOUND.norecordsfound' | translate}}</div>
        </div>
      </div>
    </form>
  </div>
  <!-- Displays after the QR code has been scanned --- End -->

  <!-- Displays during the click of scanner tab --- Start -->
  <div class="content" *ngIf="!uiEnable">
    <div class="maintitleheader">
      <div class="col">
        <div class="maintitle">{{ 'QRCODESCANNER.qrcodescanner' | translate}}</div>
      </div>
    </div>

    <div>
      <p class="infotitle">
        {{ 'QRCODESCANNER.message' | translate}}
      </p>
    </div>

    <div style="display: flex; justify-content: space-evenly">
      <div class="qrcodecard">
        <img src="../../../assets/img/qrcode.png" />
      </div>
    </div>

    <ion-row>
      <ion-col style="text-align: center !important" no-padding>
        <button type="submit" class="btn btn-scan" (click)="scanqrcode()">
          <span class="icontext" style="color: #ffffff">{{ 'QRCODESCANNER.scan' | translate}}</span>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <!-- Displays during the click of scanner tab --- End -->
</ion-content>
