<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" mode="ios">Mill Production Status</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-box">
    <form [formGroup]="dashboardForm">
      <div class="checkcard">
        <ion-grid>
          <ion-row>
            <ion-col size="2.5" style="text-align: center">
              <img
                class="image-status"
                src="../../../assets/img/mill_status.png"
              />
            </ion-col>
            <ion-col size="9.5" *ngIf="productionflag==1">
              <p style="font-size: 14px; text-align: center">
                Mill Production Status
              </p>
              <!-- <p class="text-muted" style="font-size: 16px;"></p> -->
              <!-- <p
                style="
                  color: green;
                  font-size: 18px;
                  font-weight: bold;
                  text-align: center;
                "
              >
                {{txt_millproductionstatus}}
              </p> -->

              <div
                class="productionstatustitleheader"
                [style.background-color]="getProductionStatusBackGroundColor(productionflag)"
              >
                <div class="productionstatustitle text-uppercase">
                  {{txt_millproductionstatus}}
                </div>
              </div>
            </ion-col>
            <ion-col size="9.5" *ngIf="productionflag!=1">
              <p style="font-size: 16px; font-weight: bold; text-align: center">
                Mill Production Status
              </p>
              <!-- <p class="text-muted" style="font-size: 16px;"></p> -->
              <!-- <p
                style="
                  color: red;
                  font-weight: bold;
                  text-align: center;
                  font-size: 18px;
                "
              >
                {{txt_millproductionstatus}}
              </p> -->

              <div
                class="productionstatustitleheader"
                [style.background-color]="getProductionStatusBackGroundColor(productionflag)"
              >
                <div class="productionstatustitle text-uppercase">
                  {{txt_millproductionstatus}}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Stations and Machines -->
      <div *ngIf="uienable && !pleasewaitflag">
        <div *ngFor="let station of stationsArr; let i=index">
          <div class="titleheader">
            <div class="col">
              <div class="title text-uppercase">{{station.stationname}}</div>
            </div>
          </div>

          <!-- <div class="h6 text-dark text-uppercase title">
              {{station.stationname}}
            </div> -->

          <div class="stationcard">
            <ion-row *ngFor="let machines of station.machines">
              <ion-col size="6" *ngFor="let eachitem of machines">
                <ion-card class="card card-height">
                  <ion-row style="height: 100%">
                    <ion-col class="imagecenter" size="3">
                      <img src="{{eachitem.imageurl}}" alt="PROFILE" />
                    </ion-col>

                    <ion-col
                      class="vertical-align-content"
                      size="9"
                      [style.background-color]="getBackGroundColor(eachitem.machinestatus)"
                    >
                      <div class="h7 text-white">{{eachitem.machinename}}</div>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>

            <!-- <hr *ngIf="(i+1)<stationsArr.length" /> -->
          </div>
        </div>
      </div>
      <!-- End -->

      <div class="norecords" *ngIf="!uienable && !pleasewaitflag">
        No Records Found
      </div>

      <div class="pleasewait" *ngIf="pleasewaitflag">
        <div style="width: 100%; text-align: center">
          <img
            style="width: 80px; height: 80px"
            src="../../../assets/img/loading.gif"
          />
        </div>
        Loading...
      </div>
    </form>
  </div>
</ion-content>
