<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Prediction Analysis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe [src]="weburl | safe"  style="width:100%;height:100%;border:none;" scrolling="yes"></iframe> -->

  <div *ngFor="let general of predictionanalysisArr">
    <div *ngIf="general.pressno1.length>0">
      <div class="form-row">
        <div class="col">
          <div class="userfont titletext"><b>Press No.1</b></div>
        </div>
      </div>

      <ion-row>
        <ion-card
          class="bg-red card card-height bottompad-10px"
          no-margin
          *ngFor="let value of general.pressno1"
        >
          <ion-row>
            <ion-col class="imagecenter" size="2">
              <img
                src="../../assets/img/oilloss.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image == 'oilloss'"
              />
              <img
                src="../../assets/img/alert.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image != 'oilloss'"
              />
            </ion-col>

            <ion-col size="10">
              <span class="mdfont common-whitecolor">{{value.title}}</span>

              <div *ngFor="let subvalue of value.subtitle; let i=index">
                <ion-row *ngIf="subvalue.label != 'No Data Found'">
                  <ion-col size="5.5">
                    <span class="usertext" *ngIf="value.image == 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{i+1}}. {{subvalue.label}}</strong
                      >
                    </span>

                    <span class="usertext" *ngIf="value.image != 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </span>
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span>
                  </ion-col>

                  <ion-col size="5.5">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.value}}</strong
                      >
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row
                  *ngIf="subvalue.label == 'No Data Found'"
                  style="width: 100%; text-align: center"
                >
                  <ion-col>
                    <strong class="h7 common-whitecolor"
                      >{{subvalue.label}}</strong
                    >
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <div class="box">
        <apx-chart
          [series]="pressno1Options.series"
          [chart]="pressno1Options.chart"
          [yaxis]="pressno1Options.yaxis"
          [xaxis]="pressno1Options.xaxis"
          [stroke]="pressno1Options.stroke"
          [markers]="pressno1Options.markers"
          [fill]="pressno1Options.fill"
          [tooltip]="pressno1Options.tooltip"
          [title]="pressno1Options.title"
        ></apx-chart>
      </div>

      <hr />
    </div>

    <div *ngIf="general.pressno2.length>0">
      <div class="form-row">
        <div class="col">
          <div class="userfont titletext"><b>Press No.2</b></div>
        </div>
      </div>

      <ion-row>
        <ion-card
          class="bg-red card card-height bottompad-10px"
          no-margin
          *ngFor="let value of general.pressno2"
        >
          <ion-row>
            <ion-col class="imagecenter" size="2">
              <img
                src="../../assets/img/oilloss.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image == 'oilloss'"
              />
              <img
                src="../../assets/img/alert.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image != 'oilloss'"
              />
            </ion-col>

            <ion-col size="10">
              <span class="mdfont common-whitecolor">{{value.title}}</span>

              <div *ngFor="let subvalue of value.subtitle; let i=index">
                <ion-row *ngIf="subvalue.label != 'No Data Found'">
                  <ion-col size="5.5">
                    <span class="usertext" *ngIf="value.image == 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{i+1}}. {{subvalue.label}}</strong
                      >
                    </span>

                    <span class="usertext" *ngIf="value.image != 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </span>
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span>
                  </ion-col>

                  <ion-col size="5.5">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.value}}</strong
                      >
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row
                  *ngIf="subvalue.label == 'No Data Found'"
                  style="width: 100%; text-align: center"
                >
                  <ion-col>
                    <strong class="h7 common-whitecolor"
                      >{{subvalue.label}}</strong
                    >
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <div class="box">
        <apx-chart
          [series]="pressno2Options.series"
          [chart]="pressno2Options.chart"
          [yaxis]="pressno2Options.yaxis"
          [xaxis]="pressno2Options.xaxis"
          [labels]="pressno2Options.labels"
          [stroke]="pressno2Options.stroke"
          [markers]="pressno2Options.markers"
          [fill]="pressno2Options.fill"
          [tooltip]="pressno2Options.tooltip"
          [title]="pressno2Options.title"
        ></apx-chart>
      </div>

      <hr />
    </div>

    <div *ngIf="general.pressno3.length>0">
      <div class="form-row">
        <div class="col">
          <div class="userfont titletext"><b>Press No.3</b></div>
        </div>
      </div>

      <ion-row>
        <ion-card
          class="bg-red card card-height bottompad-10px"
          no-margin
          *ngFor="let value of general.pressno3"
        >
          <ion-row>
            <ion-col class="imagecenter" size="2">
              <img
                src="../../assets/img/oilloss.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image == 'oilloss'"
              />
              <img
                src="../../assets/img/alert.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image != 'oilloss'"
              />
            </ion-col>

            <ion-col size="10">
              <span class="mdfont common-whitecolor">{{value.title}}</span>

              <div *ngFor="let subvalue of value.subtitle; let i=index">
                <ion-row *ngIf="subvalue.label != 'No Data Found'">
                  <ion-col size="5.5">
                    <span class="usertext" *ngIf="value.image == 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{i+1}}. {{subvalue.label}}</strong
                      >
                    </span>

                    <span class="usertext" *ngIf="value.image != 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </span>
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span>
                  </ion-col>

                  <ion-col size="5.5">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.value}}</strong
                      >
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row
                  *ngIf="subvalue.label == 'No Data Found'"
                  style="width: 100%; text-align: center"
                >
                  <ion-col>
                    <strong class="h7 common-whitecolor"
                      >{{subvalue.label}}</strong
                    >
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <div class="box">
        <apx-chart
          [series]="pressno3Options.series"
          [chart]="pressno3Options.chart"
          [yaxis]="pressno3Options.yaxis"
          [xaxis]="pressno3Options.xaxis"
          [labels]="pressno3Options.labels"
          [stroke]="pressno3Options.stroke"
          [markers]="pressno3Options.markers"
          [fill]="pressno3Options.fill"
          [tooltip]="pressno3Options.tooltip"
          [title]="pressno3Options.title"
        ></apx-chart>
      </div>

      <hr />
    </div>

    <div *ngIf="general.pressno4.length>0">
      <div class="form-row">
        <div class="col">
          <div class="userfont titletext"><b>Press No.4</b></div>
        </div>
      </div>

      <ion-row>
        <ion-card
          class="bg-red card card-height bottompad-10px"
          no-margin
          *ngFor="let value of general.pressno4"
        >
          <ion-row>
            <ion-col class="imagecenter" size="2">
              <img
                src="../../assets/img/oilloss.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image == 'oilloss'"
              />
              <img
                src="../../assets/img/alert.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image != 'oilloss'"
              />
            </ion-col>

            <ion-col size="10">
              <span class="mdfont common-whitecolor">{{value.title}}</span>

              <div *ngFor="let subvalue of value.subtitle; let i=index">
                <ion-row *ngIf="subvalue.label != 'No Data Found'">
                  <ion-col size="5.5">
                    <span class="usertext" *ngIf="value.image == 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{i+1}}. {{subvalue.label}}</strong
                      >
                    </span>

                    <span class="usertext" *ngIf="value.image != 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </span>
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span>
                  </ion-col>

                  <ion-col size="5.5">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.value}}</strong
                      >
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row
                  *ngIf="subvalue.label == 'No Data Found'"
                  style="width: 100%; text-align: center"
                >
                  <ion-col>
                    <strong class="h7 common-whitecolor"
                      >{{subvalue.label}}</strong
                    >
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <div class="box">
        <apx-chart
          [series]="pressno4Options.series"
          [chart]="pressno4Options.chart"
          [yaxis]="pressno4Options.yaxis"
          [xaxis]="pressno4Options.xaxis"
          [labels]="pressno4Options.labels"
          [stroke]="pressno4Options.stroke"
          [markers]="pressno4Options.markers"
          [fill]="pressno4Options.fill"
          [tooltip]="pressno4Options.tooltip"
          [title]="pressno4Options.title"
        ></apx-chart>
      </div>

      <hr />
    </div>

    <div *ngIf="general.pressno5.length>0">
      <div class="form-row">
        <div class="col">
          <div class="userfont titletext"><b>Press No.5</b></div>
        </div>
      </div>

      <ion-row>
        <ion-card
          class="bg-red card card-height bottompad-10px"
          no-margin
          *ngFor="let value of general.pressno5"
        >
          <ion-row>
            <ion-col class="imagecenter" size="2">
              <img
                src="../../assets/img/oilloss.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image == 'oilloss'"
              />
              <img
                src="../../assets/img/alert.png"
                alt="PROFILE"
                style="width: 40px; height: 40px"
                *ngIf="value.image != 'oilloss'"
              />
            </ion-col>

            <ion-col size="10">
              <span class="mdfont common-whitecolor">{{value.title}}</span>

              <div *ngFor="let subvalue of value.subtitle; let i=index">
                <ion-row *ngIf="subvalue.label != 'No Data Found'">
                  <ion-col size="5.5">
                    <span class="usertext" *ngIf="value.image == 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{i+1}}. {{subvalue.label}}</strong
                      >
                    </span>

                    <span class="usertext" *ngIf="value.image != 'oilloss'">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.label}}</strong
                      >
                    </span>
                  </ion-col>

                  <ion-col size="1">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor">:</strong>
                    </span>
                  </ion-col>

                  <ion-col size="5.5">
                    <span class="usertext">
                      <strong class="h7 common-whitecolor"
                        >{{subvalue.value}}</strong
                      >
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row
                  *ngIf="subvalue.label == 'No Data Found'"
                  style="width: 100%; text-align: center"
                >
                  <ion-col>
                    <strong class="h7 common-whitecolor"
                      >{{subvalue.label}}</strong
                    >
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>

      <div class="box">
        <apx-chart
          [series]="pressno5Options.series"
          [chart]="pressno5Options.chart"
          [yaxis]="pressno5Options.yaxis"
          [xaxis]="pressno5Options.xaxis"
          [labels]="pressno5Options.labels"
          [stroke]="pressno5Options.stroke"
          [markers]="pressno5Options.markers"
          [fill]="pressno5Options.fill"
          [tooltip]="pressno5Options.tooltip"
          [title]="pressno5Options.title"
        ></apx-chart>
      </div>
      <hr />
    </div>
  </div>
</ion-content>
