  ion-content{
    --ion-background-color:#00246e;
  }

  .welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }

  .form-row {    
    text-align: center;
  }
  
  .mdfont {
    font-size: 16px;
    font-weight: bold;
  }
  
  .para {
    font-size: 15px;
    text-align: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px; /* 10px rounded corners */
    padding: 5px
  }

  .cardheader {
    color: brown;
    font-weight: bold;
    margin: 0;
    font-size: 12px;
  }

  .cardheader_blue {
    color: blue;
    font-weight: bold;
  }
  
  .tbl_head {
    background-color: #fac57a;
  }

  .tbl_head_yellow {
    background-color: #f5e236;
  }
  
  .tbl_head_green {
    background-color: #bdff96;
  }

  .tbl_head_blue {
    background-color: #90cdfc;
  }

  .tbl_head_lightred {
    background-color: #fc9888;
  }

  .tbl_head_darkblue {
    background-color: #88b1f7;
  }

  .txt_black {
    color: #333;
    font-weight: bold;
  }

  .txt_black_wo_bold {
    color: #333;
  }

  .margin_2px {
    margin-bottom: 1px;
  }

  .vl {
    border-right: 1px solid white;
  }

  .card-height {
    height: 80%;
    width: 100%;  
  }
  
  .coltbl {
    background: gray;
    border: think solid black;
  }

  .bg-red {
    background: #E53327 !important;
    border: 1px solid #ffffff;
  }

  .bg-orange {
    background: #ff6600 !important;
    border: 2px solid #ffffff;
  }
  
  .bg-green {
    background: #6db82c !important;
    border: 2px solid #ffffff;
  }

  .bg-blue {
    background: #03A9F4 !important;
    border: 2px solid #ffffff;
  }

  .bg-violet {
    background: #6e44b6 !important;
    border: 2px solid #ffffff;
  }

  .bg-amber {
    background: #CC9900 !important;
    border: 2px solid #ffffff;
  }
  
  table {
    font-size: 11px;
    line-height: 1.42857143;
    color: #333;
    padding: 5px;
  }
  .table td,
  .table th {
    padding: 0.3rem !important;
  }

  .table_head {
    background-color: #fac57a;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }
  
  .table_head1 {
    background-color: #90cdfc;
    font-weight: bold;
  }
  
  #chartContainer9 {
    // padding: 10px;
    overflow-x:auto;
  }
  
  .part1 {
    width: 100%;
  }
  
  .part2 {
    width: 100%;
  }
  
  .part3 {
    width: 100%;
  }
  
  .part4 {
    width: 100%;
  }
  
  .part5 {
    width: 100%;
  }
  
  .part6 {
    width: 100%;
  }

  .cardcontentcss {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
  }
  
  .bottompad-10px {
    padding-bottom: 0px !important;
  }
  
  .margin-5 {
    margin: 5px;
  }
  
  td {
    text-align: center;
    vertical-align: middle;
  }
  
  th {
    text-align: center;
    vertical-align: middle;
  }

  .userfont {
    font-size: 16px;
  }

  .usertext {
    color: #000000;
  }

  .titletext {
    color: #FFFFFF;
  }

  .imagecenter {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }

  hr {
    display: block;
    height: 1px;    
    border-top: 1px solid #c2c2c2;
  }

  .box {
    margin: 10px;    
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    background-color: #ffc001;  
    text-shadow: 0 1px 1px 1px #ffffff;
    position: relative; 
    border-radius: 10px;    
  }

  .btn-pressno1
  {
    opacity:1;
    background-color: white;
    border-color: #ff6600;
    color: #c44e00;
    font-weight: bold;
  }

  .btn-pressno2
  {
    opacity:1;
    background-color: white;
    border-color: #6db82c;
    color: #4c801e;
    font-weight: bold;
  }

  .btn-pressno3
  {
    opacity:1;
    background-color: white;
    border-color: #03A9F4;
    color: #0173a8;
    font-weight: bold;
  }

  .btn-pressno4
  {
    opacity:1;
    background-color: white;
    border-color: #6e44b6;
    color: #432577;
    font-weight: bold;
  }

  .btn-pressno5
  {
    opacity:1;
    background-color: white;
    border-color: #CC9900;
    color: #a87e00;
    font-weight: bold;
  }

  .common-blackcolor{
    color: black;
  }

