<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" color="light"
      >{{ 'OILLOSSESSREPORT.oillossesedit' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="oillossesForm">
    <div class="form-row" style="margin-top: 10px">
      <div class="col">
        <div class="h7 text-white">
          <b>{{ 'OILLOSSESSREPORT.date' | translate}} <sup>*</sup></b>
        </div>
      </div>

      <div class="col">
        <!-- <ion-datetime
          mode="ios"
          class="h7 form-control"
          formControlName="txt_date"
          display-format="DD-MM-YYYY"
          [(ngModel)]="selectoillossesdate"
        >
        </ion-datetime> -->

        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_date"
          placeholder="DD-MM-YYYY"
          (click)="openDatePicker('LED')"
          readonly
        />
      </div>
    </div>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-white">
          <b
            >{{ 'OILLOSSESSREPORT.samplecollectiontime' | translate}}
            <sup>*</sup></b
          >
        </div>
      </div>

      <div class="col">
        <!-- <ion-datetime
          mode="ios"
          class="h7 form-control"
          formControlName="txt_time"
          display-format="HH:mm"
          [(ngModel)]="selectoillossestime"
        >
        </ion-datetime> -->

        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_time"
          placeholder="HH:mm"
          (click)="openTimePicker('LET')"
          readonly
        />
      </div>
    </div>

    <!-- <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-white">
          <b>Press No.1 <sup>*</sup></b>
        </div>
      </div>

      <div class="col">
        <input
          type="number"
          class="h7 form-control text-dark"
          placeholder="Press No.1"
          (keypress)="decimalFilter($event)"
          formControlName="txt_pressno1"
        />
      </div>
    </div>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-white">
          <b>Press No.2 <sup>*</sup></b>
        </div>
      </div>

      <div class="col">
        <input
          type="number"
          class="h7 form-control text-dark"
          placeholder="Press No.2"
          (keypress)="decimalFilter($event)"
          formControlName="txt_pressno2"
        />
      </div>
    </div>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-white">
          <b>Press No.3 <sup>*</sup></b>
        </div>
      </div>

      <div class="col">
        <input
          type="number"
          class="h7 form-control text-dark"
          placeholder="Press No.3"
          (keypress)="decimalFilter($event)"
          formControlName="txt_pressno3"
        />
      </div>
    </div>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-white">
          <b>Press No.4 <sup>*</sup></b>
        </div>
      </div>

      <div class="col">
        <input
          type="number"
          class="h7 form-control text-dark"
          placeholder="Press No.4"
          (keypress)="decimalFilter($event)"
          formControlName="txt_pressno4"
        />
      </div>
    </div>

    <div class="form-row" style="margin-top: 20px">
      <div class="col">
        <div class="h7 text-white">
          <b>Press No.5 <sup>*</sup></b>
        </div>
      </div>

      <div class="col">
        <input
          type="number"
          class="h7 form-control text-dark"
          placeholder="Press No.5"
          (keypress)="decimalFilter($event)"
          formControlName="txt_pressno5"
        />
      </div>
    </div> -->

    <div formArrayName="pressRows">
      <div
        class="form-row"
        style="margin-top: 20px"
        *ngFor="let itemrow of oillossesForm.get('pressRows').controls; let i=index"
      >
        <div class="col">
          <div class="h7 text-white">
            <b>{{pressArr[i]}}</b>
          </div>
        </div>

        <div class="col">
          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'OILLOSSESSREPORT.enter' | translate}}"
            (keypress)="decimalFilter($event)"
            [formControlName]="i"
          />
        </div>
      </div>
    </div>

    <div style="text-align: center">
      <button
        type="submit"
        [disabled]="isDisabled"
        class="h6 btn btn-update"
        (click)="showalert()"
        style="margin-top: 10px; margin-bottom: 10px"
      >
        {{ 'GENERALBUTTON.updatebutton' | translate}}
      </button>
    </div>
  </form>
</ion-content>
