<ion-header>
  <ion-toolbar class="bg-brown-color modaltoolbar">
    <ion-title mode="ios" color="light"
      >{{ 'SEARCHSUPPLIER.searchsupplier' | translate}}</ion-title
    >

    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="dismiss()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="bg-brown-color modaltoolbar">
    <ion-searchbar
      #search
      debounce="500"
      (ionChange)="_ionchange($event)"
      placeholder="{{ 'SEARCHSUPPLIER.search' | translate}}"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="suppliersearchForm">
    <ion-list>
      <ion-item *ngFor="let item of supplierArr" (click)="getvalue(item)">
        <ion-label class="h7">{{item.suppler_name}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="pagination($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{ 'SEARCHSUPPLIER.loadingmoredata' | translate}}"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="norecords" *ngIf="norecordsflag">
      {{ 'SEARCHSUPPLIER.nosearchrecords' | translate}}
    </div>
  </form>
</ion-content>
