<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title
      >{{ 'PRODUCTIONNOTIFICATIONNEW.newcorrectivemaintenance' |
      translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="filterForm"
    style="background-color: #1d2730; padding: 0px 10px 10px 10px"
  >
    <select
      formControlName="select_station"
      class="selectdropdown"
      (change)="onChangeStation()"
    >
      <option value="" selected>
        {{ 'PRODUCTIONNOTIFICATIONNEW.searchbystation' | translate}}
      </option>
      <option value="{{item.station_id}}" *ngFor="let item of stationlistArr">
        {{ item.station_name }}
      </option>
    </select>
  </form>

  <div class="home-box">
    <form [formGroup]="dashboardForm">
      <div class="form-row" style="margin-top: 20px">
        <div class="col">
          <div class="h7 text-dark">
            <b
              >{{ 'PRODUCTIONNOTIFICATIONNEW.millproductionstatus' |
              translate}}</b
            >
          </div>
        </div>
        <div class="col">
          <div class="h7 text-dark">
            <input
              type="text"
              class="h7 form-control readonly"
              style="color: green; font-weight: bold"
              formControlName="txt_millproductionstatus"
              readonly
              *ngIf="productionflag==1"
            />
            <input
              type="text"
              class="h7 form-control readonly"
              style="color: red; font-weight: bold"
              formControlName="txt_millproductionstatus"
              readonly
              *ngIf="productionflag==0"
            />
          </div>
        </div>
      </div>

      <!-- Stations and Machines -->
      <div *ngIf="uienable && !pleasewaitflag">
        <div *ngFor="let station of stationsArr">
          <div class="titleheader">
            <div class="col">
              <div class="title text-uppercase">{{station.stationname}}</div>
            </div>
          </div>

          <div class="stationcard">
            <ion-row *ngFor="let machines of station.machines">
              <ion-col size="6" *ngFor="let eachitem of machines">
                <ion-card
                  class="card card-height"
                  [style.--ion-background-color]="getBackGroundColor(eachitem.machinestatus)"
                  (click)="callmodalcontroller(eachitem)"
                >
                  <!-- <ion-badge class="badgecolor">100</ion-badge> -->
                  <ion-row>
                    <ion-col class="imagecenter" size="3">
                      <img src="../../../assets/img/productiondashboard.png" />
                      <!-- <img src="{{eachitem.imageurl}}" alt="PROFILE" /> -->
                    </ion-col>

                    <ion-col class="vertical-align-content" size="9">
                      <div class="h7 text-dark">{{eachitem.machinename}}</div>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <!-- End -->

      <div class="norecords" *ngIf="!uienable && !pleasewaitflag">
        {{ 'NORECORDSFOUND.norecordsfound' | translate}}
      </div>

      <div class="pleasewait" *ngIf="pleasewaitflag">
        <div style="width: 100%; text-align: center">
          <img
            style="width: 80px; height: 80px"
            src="../../../assets/img/loading.gif"
          />
        </div>
        {{ 'NORECORDSFOUND.loading' | translate}}
      </div>
    </form>
  </div>
</ion-content>
