ion-content {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}

.home-box {
  padding: 0px 10px 10px 10px;
}

form {
  padding: 5px;
}

.form-row {
  margin: 5px;
  align-items: center;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #c2c2c2;
}

sup {
  color: red;
}

.btn-cancel {
  width: 100px;
  border-radius: 5px;
  background-color: #f0ad4e;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
}

.btn-save {
  width: 100px;
  border-radius: 5px;
  background-color: #5bc0de;
  border: 1px solid #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
}

.buttom-margin {
  margin-top: 10px;
}

.buttom-margin-malay {
  margin-top: -5px;
}
