<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-title color="light"
      >{{ 'SUPERVISORDASHBOARD.edit' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="dateForm">
    <div class="h7 text-dark" style="font-weight: bold">
      <sup>*</sup> {{ 'SUPERVISORDASHBOARD.note' | translate}}
    </div>
    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-dark">
          {{ 'SUPERVISORDASHBOARD.millstartdatetime' | translate}}
        </div>
      </ion-col>
      <ion-col size="6">
        <!-- <ion-datetime
          mode="ios"
          [disabled]="isdisabledmillstartdatetime"
          class="h7 form-control"
          formControlName="txt_millstartdatetime"
          display-format="DD-MM-YYYY HH:mm"
          placeholder="DD-MM-YYYY HH:mm"
          [(ngModel)]="selectmillstartdatetime"
        ></ion-datetime> -->

        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_millstartdatetime"
          placeholder="DD-MM-YYYY HH:mm"
          (click)="openDateTimePicker('START')"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-dark">
          {{ 'SUPERVISORDASHBOARD.millstopdatetime' | translate}}
        </div>
      </ion-col>
      <ion-col size="6">
        <!-- <ion-datetime
          mode="ios"
          [disabled]="isdisabledmillstopdatetime"
          class="h7 form-control"
          formControlName="txt_millstopdatetime"
          display-format="DD-MM-YYYY HH:mm"
          placeholder="DD-MM-YYYY HH:mm"
          [(ngModel)]="selectmillstopdatetime"
        ></ion-datetime> -->

        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_millstopdatetime"
          placeholder="DD-MM-YYYY HH:mm"
          (click)="openDateTimePicker('STOP')"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row
      [ngClass]="{'buttom-margin' : selectedlanguage == 'English', 'buttom-margin-malay' : selectedlanguage == 'Malay'}"
    >
      <ion-col style="text-align: right !important">
        <button type="submit" class="btn btn-cancel" (click)="cancel()">
          {{ 'SUPERVISORDASHBOARD.cancel' | translate}}
        </button>
      </ion-col>

      <ion-col style="text-align: left !important">
        <button type="submit" class="btn btn-save" (click)="save()">
          {{ 'SUPERVISORDASHBOARD.save' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer> </ion-footer>
