<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>

    <ion-title color="light"
      >{{ 'CORRECTIVEMAINTENACE.correctivemaintenancenotification' |
      translate}}</ion-title
    >
    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="bg-search-color">
    <ion-searchbar
      placeholder="{{ 'GENERALBUTTON.searchrecords' | translate}}"
      [(ngModel)]="filterTerm"
      animated="true"
      clearIcon="close"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="maintenancenotificationForm">
    <ion-row style="margin-top: 10px">
      <ion-col size="1.6" style="align-self: center" no-padding>
        <div class="h7 text-white"><b>{{ 'CORRECTIVEMAINTENACE.fromdate' | translate}     </b></div>
      </ion-col>

      <ion-col size="3.45" no-padding>
        <!-- <div class="h7 text-white"><b>From</b></div> -->

        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_fromdate"
          placeholder="DD-MM-YYYY"
          (click)="openDateTimePicker('FD')"
          readonly
        />
      </ion-col>

      <ion-col size="1" style="align-self: center" no-padding>
        <div class="h7 text-white"><b>{{ 'CORRECTIVEMAINTENACE.todate' | translate}}</b></div>
      </ion-col>

      <ion-col size="3.45" no-padding>
        <input
          type="text"
          class="h7 form-control readonly"
          formControlName="txt_todate"
          placeholder="DD-MM-YYYY"
          (click)="openDateTimePicker('TD')"
          readonly
        />
      </ion-col>

      <ion-col size="2.5" no-padding>
        <button
          type="button"
          class="h7 btn btn-general btn-sm"
          style="height: 31px; width: 100%"
          (click)="getNotification()"
        >
        {{ 'GENERALBUTTON.getrecords' | translate}}
        </button>
      </ion-col>
    </ion-row>

    <hr />

    <!-- <div class="form-row" style="padding: 5px">
      <div class="col">
        <div class="h7">
          <b>{{ 'CORRECTIVEMAINTENACE.maintenancetype' | translate}}</b>
        </div>
        <select
          formControlName="select_maintenancetype"
          class="h7 text-dark form-control"
        >
          <option value="">{{ 'GENERALBUTTON.select' | translate}}</option>
          <option value="{{item.id}}" *ngFor="let item of maintenancetypeArr">
            {{ item.maintanence_type }}
          </option>
        </select>
      </div>
      <div class="col">
        <div class="h7">
          <b>{{ 'CORRECTIVEMAINTENACE.status' | translate}}</b>
        </div>
        <select
          formControlName="select_status"
          class="h7 text-dark form-control"
        >
          <option value="">{{ 'GENERALBUTTON.select' | translate}}</option>
          <option value="{{item.id}}" *ngFor="let item of statusArr">
            {{ item.status }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <button
        type="button"
        class="h7 btn btn-outline-primary btn-sm margin-5px float-right"
        (click)="getNotification()"
      >
        <ion-icon class="icon" name="funnel"></ion-icon>
        <span class="icontext"> {{ 'GENERALBUTTON.filter' | translate}}</span>
      </button>
    </div>

    <hr /> -->
  </form>

  <div>
    <ion-card
      class="bg-card"
      *ngFor="let value of notificationlistArr | filter:filterTerm"
    >
      <ion-card-content class="cardcontent">
        <ion-row *ngIf="(value.notificationno!='' || value.insDate!='')">
          <ion-col>
            <p class="title-content">
              {{value.notificationno}} - {{value.insDate}}
            </p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="value.stationname!=''">
          <ion-col size="5"
            >{{ 'CORRECTIVEMAINTENACE.station' | translate}}</ion-col
          >

          <ion-col size="7">
            <p class="data">{{value.stationname}}</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="value.equipment!=''">
          <ion-col size="5"
            >{{ 'CORRECTIVEMAINTENACE.machine' | translate}}</ion-col
          >

          <ion-col size="7">
            <p class="data">{{value.equipment}}</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="value.partdefect!=''">
          <ion-col size="5">{{ 'CORRECTIVEMAINTENACE.partname' | translate}}</ion-col>

          <ion-col size="7">
            <p class="data">{{value.partdefect}}</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="value.problem!=''">
          <ion-col size="5"
            >{{ 'CORRECTIVEMAINTENACE.problem' | translate}}</ion-col
          >

          <ion-col size="7">
            <p class="data">{{value.problem}}</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="value.statusname!=''">
          <ion-col size="5"
            >{{ 'CORRECTIVEMAINTENACE.status' | translate}}</ion-col
          >

          <ion-col size="7">
            <p
              class="statusdata"
              [style.color]="getStatusTextColor(value.statusId)"
            >
              {{ value.statusname }}
            </p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="value.remarks!=''">
          <ion-col size="5">{{ 'CORRECTIVEMAINTENACE.remarks' | translate}}</ion-col>

          <ion-col size="7">
            <p class="data">{{value.remarks}}</p>
          </ion-col>
        </ion-row>

        <!-- Buton - Start -->
        <ion-row class="row-reverse">
          <button
            type="button"
            class="h7 btn btn-view btn-sm margin-5px"
            (click)="btn_NotificationView(value)"
          >
            <ion-icon class="icon" name="document-text-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.viewbutton' | translate}}</span
            >
          </button>

          <button
            type="button"
            class="h7 btn btn-update btn-sm margin-5px"
            (click)="btn_NotificationEdit(value)"
            *ngIf="((value.statusId == '1' && (value.typeId != '3' && value.typeId != '4')) || value.statusId == '2') && (value.isUpdateEnable == '1')"
          >
            <ion-icon class="icon" name="create-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.updatebutton' | translate}}</span
            >
          </button>
        </ion-row>

        <!-- Button - End -->
      </ion-card-content>
    </ion-card>

    <div class="norecords" *ngIf="enableflag==true">
      {{ 'NORECORDSFOUND.norecordsfound' | translate}}
    </div>
  </div>
</ion-content>
