<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'PRESSSTATIONLOGSHEET.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 10px">
    <form [formGroup]="pressstationlogsheetForm">
      <div class="form-row">
        <div class="h7 text-dark" style="text-align: center">
          <b>{{ 'PRESSSTATIONLOGSHEET.date' | translate}} </b>
        </div>
        <div class="col">
          <!-- <ion-datetime
            mode="ios"
            class="h7 form-control"
            formControlName="pickdate"
            display-format="DD-MM-YYYY"
            [(ngModel)]="reportdate"
          ></ion-datetime> -->
          <input
            type="text"
            class="h7 form-control readonly"
            formControlName="pickdate"
            placeholder="DD-MM-YYYY"
            (click)="openDateTimePicker()"
            readonly
          />
        </div>
        <div>
          <button
            type="button"
            class="h7 btn btn-general btn-sm margin-5px float-right"
            (click)="getreport()"
          >
            <ion-icon name="filter"></ion-icon>
            {{ 'PRESSSTATIONLOGSHEET.getrecords' | translate}}
          </button>
        </div>
      </div>
    </form>

    <ion-row class="form-row">
      <ion-col size="2">
        <img class="sdimage" src="../../../assets/img/reportlogo.png" />
      </ion-col>
      <ion-col size="8">
        <p class="title">{{userlist.address1}}</p>
        <p class="subtitle">
          {{userlist.address2}}<br />{{userlist.address3}}<br />{{userlist.address4}}
        </p>
      </ion-col>
      <ion-col size="2">
        <!-- <img class="reportimage" src="../../../assets/img/reportlogo.png" /> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="title" style="text-align: center">
          <b>{{ 'PRESSSTATIONLOGSHEET.pressstationrecordfor' | translate}} {{showDate}}</b>
        </div>
      </ion-col>
    </ion-row>

    <div style="overflow-x: auto" *ngIf="!norecordsflag">
      <div *ngFor="let general of logsheetArr">
        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr>
            <th colspan="12" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont" style="color: #000000">{{ 'PRESSSTATIONLOGSHEET.millstartdate' | translate}}</span>
            </th>

            <td colspan="12" style="background-color: green; color: white">
              {{general.millstart_date}}
            </td>

            <th colspan="12" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont" style="color: #000000">{{ 'PRESSSTATIONLOGSHEET.millstopdate' | translate}}</span>
            </th>

            <td
              colspan="12"
              style="background-color: red; color: white"
              *ngIf="general.millstop_date!=''"
            >
              {{general.millstop_date}}
            </td>
            <td
              colspan="12"
              style="background-color: red; color: white"
              *ngIf="general.millstop_date==''"
            >
              -
            </td>
          </tr>

          <tr>
            <th colspan="12" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont" style="color: #000000">{{ 'PRESSSTATIONLOGSHEET.millstarttime' | translate}}</span>
            </th>

            <td colspan="12" style="background-color: green; color: white">
              {{general.millstart_time}}
            </td>

            <th colspan="12" scope="colgroup" style="padding: 4px !important">
              <span class="mdfont" style="color: #000000">{{ 'PRESSSTATIONLOGSHEET.millstoptime' | translate}}</span>
            </th>

            <td
              colspan="12"
              style="background-color: red; color: white"
              *ngIf="general.millstop_time!=''"
            >
              {{general.millstop_time}}
            </td>
            <td
              colspan="12"
              style="background-color: red; color: white"
              *ngIf="general.millstop_time==''"
            >
              -
            </td>
          </tr>

          <tr style="height: 20px">
            <td colspan="42"></td>
          </tr>

          <tr class="table_head">
            <th
              rowspan="3"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: green;
                color: #000000;
              "
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'PRESSSTATIONLOGSHEET.time' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              [attr.colspan]="general.digestorcolspan"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: red;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.digestor' | translate}}</span>
            </th>

            <th
              [attr.colspan]="general.presscolspan"
              scope="colgroup"
              style="padding: 4px !important; background-color: #ffbf00"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.press' | translate}}</span>
            </th>

            <th
              rowspan="2"
              [attr.colspan]="general.noofpress"
              scope="colgroup"
              style="padding: 4px !important; background-color: #adaeeb"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.dilution' | translate}}<br />{{ 'PRESSSTATIONLOGSHEET.temperature' | translate}}</span>
            </th>

            <th
              rowspan="3"
              scope="colgroup"
              style="padding: 4px !important; background-color: #20e1ff"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.doneby' | translate}}</span>
            </th>
          </tr>

          <tr class="table_head">
            <th
              [attr.colspan]="general.noofpress"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fdd5cf"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.temperature' | translate}}</span>
            </th>

            <th
              [attr.colspan]="general.noofpress"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fdd5cf"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.motor' | translate}}</span>
            </th>

            <th
              [attr.colspan]="general.noofpress"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fdd5cf"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.level' | translate}}</span>
            </th>

            <th
              [attr.colspan]="general.noofpress"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fdd5cf"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.digestordrainage' | translate}}</span>
            </th>

            <th
              [attr.colspan]="general.noofpress"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fff0c2"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.motor' | translate}}</span>
            </th>

            <th
              [attr.colspan]="general.noofpress"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fff0c2"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.hydraulicpressure' | translate}}</span>
            </th>

            <th
              [attr.colspan]="general.noofpress"
              scope="colgroup"
              style="padding: 4px !important; background-color: #fff0c2"
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.fiberflow' | translate}}</span>
            </th>
          </tr>

          <tr class="table_head1" *ngFor="let value of general.presses">
            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngFor="let data of value.temperature"
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{data.press}}&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngFor="let data of value.motor"
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{data.press}}&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngFor="let data of value.level"
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{data.press}}&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngFor="let data of value.digestordrainage"
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{data.press}}&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngFor="let data of value.pressmotor"
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{data.press}}&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngFor="let data of value.hydraulicpressure"
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{data.press}}&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngFor="let data of value.presscakedrainage"
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{data.press}}&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>

            <th
              scope="colgroup"
              style="padding: 4px !important"
              *ngFor="let data of value.dilutiontemperature"
            >
              <span class="mdfont"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{data.press}}&nbsp;&nbsp;&nbsp;&nbsp;</span
              >
            </th>
          </tr>

          <tr *ngFor="let value of general.logs">
            <td scope="row" style="overflow: auto">{{value.time}}</td>
            <ng-container *ngFor="let data of value.temperature">
              <td scope="row" style="overflow: auto">{{data.value}}</td>
            </ng-container>

            <ng-container *ngFor="let data of value.motor">
              <td scope="row" style="overflow: auto">{{data.value}}</td>
            </ng-container>

            <ng-container *ngFor="let data of value.level">
              <td scope="row" style="overflow: auto">{{data.value}}</td>
            </ng-container>

            <ng-container *ngFor="let data of value.digestordrainage">
              <td scope="row" style="overflow: auto">{{data.value}}</td>
            </ng-container>

            <ng-container *ngFor="let data of value.pressmotor">
              <td scope="row" style="overflow: auto">{{data.value}}</td>
            </ng-container>

            <ng-container *ngFor="let data of value.hydraulicpressure">
              <td scope="row" style="overflow: auto">{{data.value}}</td>
            </ng-container>

            <ng-container *ngFor="let data of value.presscakedrainage">
              <td scope="row" style="overflow: auto">{{data.value}}</td>
            </ng-container>

            <ng-container *ngFor="let data of value.dilutiontemperature">
              <td scope="row" style="overflow: auto">{{data.value}}</td>
            </ng-container>

            <td scope="row" style="overflow: auto">{{value.doneby}}</td>
          </tr>

          <tr *ngIf="general.logs.length <= 0">
            <td colspan="42" style="text-align: center; color: #e30414">
              {{ 'NORECORDSFOUND.norecordsfound' | translate}}
            </td>
          </tr>

          <tr>
            <th
              colspan="10"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: #474747;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.verifiedby' | translate}}</span>
            </th>

            <th
              colspan="12"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: #474747;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.remark' | translate}}</span>
            </th>

            <th
              colspan="10"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: #474747;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.checkedby' | translate}}</span>
            </th>

            <th
              colspan="10"
              scope="colgroup"
              style="
                padding: 4px !important;
                background-color: #474747;
                color: #ffffff;
              "
            >
              <span class="mdfont">{{ 'PRESSSTATIONLOGSHEET.remark' | translate}}</span>
            </th>
          </tr>

          <tr *ngFor="let value of general.remarks">
            <td colspan="10" scope="row" style="overflow: auto">
              <b>{{value.verifiedby}}</b>
            </td>
            <td colspan="12" scope="row" style="overflow: auto">
              {{value.verifiedremark}}
            </td>
            <td colspan="10" scope="row" style="overflow: auto">
              <b>{{value.checkedby}}</b>
            </td>
            <td colspan="10" scope="row" style="overflow: auto">
              {{value.checkedbyremark}}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="norecords" *ngIf="norecordsflag">{{ 'NORECORDSFOUND.norecordsfound' | translate}}</div>
  </div>
</ion-content>
